flows.json
[
    {
        "id": "90a47a5490fd03e3",
        "type": "tab",
        "label": "SIMULADOR TEXTIL 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9477a706cabb673d",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRb2FTeF9vs0h5W5-8AaOT8GELe9oASI3BiNn9RB60NJcGLU17DYjxsT64hELKzs_e8uChKsnlnPd5kQZxtDHMDLOYZ7x7GPT5y3WCEfCe_",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "temporary",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "7a4dd23066bfae3c",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#054c51",
            "primary": "#8ecde6",
            "bgPage": "#b4c5c2",
            "groupBg": "#cde4f9",
            "groupOutline": "#000000"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "0cbdf0984cc48a40",
        "type": "ui-page",
        "name": "Gestión de Turnos y Productividad de Celdas de Trabajo",
        "ui": "9477a706cabb673d",
        "path": "/page3",
        "icon": "factory",
        "layout": "tabs",
        "theme": "7a4dd23066bfae3c",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "48e8f35e2b9e8df4",
        "type": "ui-group",
        "name": "KPIs por turno",
        "page": "0cbdf0984cc48a40",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6948a1a24a42f69c",
        "type": "ui-group",
        "name": "Controles de simulación",
        "page": "0cbdf0984cc48a40",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ab2ad95029b215cc",
        "type": "ui-group",
        "name": "Productividad por turno",
        "page": "0cbdf0984cc48a40",
        "width": "3",
        "height": 1,
        "order": 4,
        "showTitle": false,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "9ee96193c7db482b",
        "type": "ui-group",
        "name": "Estado de celda",
        "page": "0cbdf0984cc48a40",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "22a175978fff42d0",
        "type": "inject",
        "z": "90a47a5490fd03e3",
        "name": "Simular 1 Hora (cada 5 seg)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "tick",
        "payloadType": "str",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "42c3049216e52272"
            ]
        ]
    },
    {
        "id": "d4c0b080d9eacd1b",
        "type": "ui-template",
        "z": "90a47a5490fd03e3",
        "group": "48e8f35e2b9e8df4",
        "page": "",
        "ui": "",
        "name": "KPIs en Tiempo Real",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');\n\n  .kpis-dashboard {\n    background: rgba(255, 255, 255, 0.95);\n    backdrop-filter: blur(10px);\n    border-radius: 24px;\n    padding: 32px;\n    box-shadow:\n      0 8px 32px rgba(0, 0, 0, 0.1),\n      0 2px 8px rgba(0, 0, 0, 0.08);\n    border: 1px solid rgba(255, 255, 255, 0.2);\n    position: relative;\n    overflow: hidden;\n  }\n\n  .kpis-dashboard::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: 0;\n    right: 0;\n    height: 4px;\n    background: linear-gradient(90deg, #3b82f6, #8b5cf6);\n    opacity: 0.8;\n  }\n\n  .kpis-header {\n    font-size: 1.5em;\n    font-weight: 700;\n    color: #1e293b;\n    margin-bottom: 28px;\n    text-align: center;\n    letter-spacing: -0.02em;\n  }\n\n  .turno-info {\n    background: rgba(255, 255, 255, 0.6);\n    padding: 16px 20px;\n    border-radius: 16px;\n    margin-bottom: 24px;\n    font-size: 0.95em;\n    color: #475569;\n    font-weight: 500;\n    border: 1px solid rgba(255, 255, 255, 0.3);\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    gap: 16px;\n    backdrop-filter: blur(5px);\n  }\n\n  .turno-info strong {\n    color: #1e293b;\n    font-weight: 700;\n  }\n\n  .kpis-grid {\n    display: grid;\n    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n    gap: 20px;\n    margin-bottom: 28px;\n  }\n\n  .kpi-item {\n    background: rgba(255, 255, 255, 0.6);\n    border-radius: 16px;\n    padding: 24px 20px;\n    text-align: center;\n    transition: all 0.3s ease;\n    border: 1px solid rgba(255, 255, 255, 0.3);\n    backdrop-filter: blur(5px);\n    position: relative;\n    overflow: hidden;\n  }\n\n  .kpi-item::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: 0;\n    right: 0;\n    height: 4px;\n    background: currentColor;\n    opacity: 0.8;\n  }\n\n  .kpi-item:hover {\n    transform: translateY(-4px);\n    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);\n  }\n\n  .kpi-icon {\n    width: 50px;\n    height: 50px;\n    margin: 0 auto 12px;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    border-radius: 12px;\n    background: rgba(255, 255, 255, 0.8);\n  }\n\n  .tabler-icon {\n    width: 28px;\n    height: 28px;\n    stroke: currentColor;\n    stroke-width: 1.5;\n    fill: none;\n    stroke-linecap: round;\n    stroke-linejoin: round;\n  }\n\n  .kpi-value {\n    font-size: 1.8em;\n    font-weight: 700;\n    color: #1e293b;\n    margin: 8px 0;\n    letter-spacing: -0.01em;\n  }\n\n  .kpi-label {\n    font-size: 0.8em;\n    color: #64748b;\n    font-weight: 600;\n    text-transform: uppercase;\n    letter-spacing: 0.05em;\n  }\n\n  /* Colores específicos para cada KPI */\n  .kpi-meta {\n    color: #10b981;\n  }\n\n  .kpi-produccion {\n    color: #f59e0b;\n  }\n\n  .kpi-meta-acumulada {\n    color: #8b5cf6;\n  }\n\n  .kpi-real {\n    color: #3b82f6;\n  }\n\n  .progress-section {\n    background: rgba(255, 255, 255, 0.6);\n    padding: 20px;\n    border-radius: 16px;\n    border: 1px solid rgba(255, 255, 255, 0.3);\n    backdrop-filter: blur(5px);\n  }\n\n  .progress-label {\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    margin-bottom: 12px;\n    font-size: 0.9em;\n    color: #374151;\n    font-weight: 600;\n  }\n\n  .progress-bar {\n    background: rgba(255, 255, 255, 0.8);\n    border-radius: 12px;\n    height: 12px;\n    overflow: hidden;\n    position: relative;\n  }\n\n  .progress-fill {\n    background: linear-gradient(90deg, #10b981 0%, #3b82f6 50%, #8b5cf6 100%);\n    height: 100%;\n    transition: width 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);\n    border-radius: 10px;\n    position: relative;\n    overflow: hidden;\n  }\n\n  .progress-fill::after {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -100%;\n    width: 100%;\n    height: 100%;\n    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);\n    animation: shimmer 1.5s infinite;\n  }\n\n  @keyframes shimmer {\n    0% {\n      transform: translateX(-100%);\n    }\n\n    100% {\n      transform: translateX(400%);\n    }\n  }\n\n  .no-data {\n    text-align: center;\n    color: #9ca3af;\n    padding: 48px 20px;\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n    gap: 16px;\n  }\n\n  .no-data-icon {\n    font-size: 3em;\n    opacity: 0.4;\n  }\n\n  .particles {\n    position: absolute;\n    top: 0;\n    left: 0;\n    width: 100%;\n    height: 100%;\n    pointer-events: none;\n  }\n\n  .particle {\n    position: absolute;\n    background: rgba(59, 130, 246, 0.1);\n    border-radius: 50%;\n    animation: floatParticle 8s ease-in-out infinite;\n  }\n\n  @keyframes floatParticle {\n\n    0%,\n    100% {\n      transform: translate(0, 0) rotate(0deg) scale(1);\n      opacity: 0;\n    }\n\n    10% {\n      opacity: 0.3;\n    }\n\n    50% {\n      transform: translate(20px, -20px) rotate(180deg) scale(1.2);\n      opacity: 0.6;\n    }\n\n    90% {\n      opacity: 0.3;\n    }\n  }\n\n  @media (max-width: 768px) {\n    .kpis-dashboard {\n      padding: 24px 16px;\n    }\n\n    .kpis-grid {\n      grid-template-columns: 1fr;\n      gap: 16px;\n    }\n\n    .turno-info {\n      flex-direction: column;\n      text-align: center;\n      gap: 8px;\n    }\n\n    .kpi-value {\n      font-size: 1.6em;\n    }\n  }\n</style>\n\n<div class=\"kpis-dashboard\">\n  <div class=\"particles\">\n    <div v-for=\"i in 12\" :key=\"i\" class=\"particle\" :style=\"{\n      width: (Math.random() * 4 + 2) + 'px',\n      height: (Math.random() * 4 + 2) + 'px',\n      left: (Math.random() * 100) + '%',\n      top: (Math.random() * 100) + '%',\n      animationDelay: (Math.random() * 8) + 's',\n      animationDuration: (Math.random() * 4 + 6) + 's'\n    }\"></div>\n  </div>\n\n  <div class=\"kpis-header\">KPIs EN TIEMPO REAL</div>\n\n  <div v-if=\"msg && msg.payload\">\n    <div class=\"turno-info\">\n      <span><strong>Turno {{msg.payload.turno}}</strong> | Hora {{msg.payload.hora}}/8</span>\n      <span><b> Staffing: {{msg.payload.personal}}</b></span>\n    </div>\n\n    <div class=\"kpis-grid\">\n      <div class=\"kpi-item kpi-meta\">\n        <div class=\"kpi-icon\">\n          <svg class=\"tabler-icon\" viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\">\n            <path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\" />\n            <path d=\"M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0\" />\n            <path d=\"M12 7v5\" />\n            <path d=\"M12 12l2 -3\" />\n          </svg>\n        </div>\n        <div class=\"kpi-value\">{{formatNumber(msg.payload.meta_por_hora)}}</div>\n        <div class=\"kpi-label\">Meta por Hora</div>\n      </div>\n\n      <div class=\"kpi-item kpi-produccion\">\n        <div class=\"kpi-icon\">\n          <svg class=\"tabler-icon\" viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\">\n            <path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\" />\n            <path d=\"M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11\" />\n          </svg>\n        </div>\n        <div class=\"kpi-value\">{{formatNumber(msg.payload.produccion_actual)}}</div>\n        <div class=\"kpi-label\">Producción Hora</div>\n      </div>\n\n      <div class=\"kpi-item kpi-meta-acumulada\">\n        <div class=\"kpi-icon\">\n          <svg class=\"tabler-icon\" viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\">\n            <path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\" />\n            <path d=\"M3 3v18h18\" />\n            <path d=\"M20 18v3\" />\n            <path d=\"M16 16v5\" />\n            <path d=\"M12 13v8\" />\n            <path d=\"M8 16v5\" />\n            <path d=\"M3 11c6 0 5 -5 9 -5s3 5 9 5\" />\n          </svg>\n        </div>\n        <div class=\"kpi-value\">{{formatNumber(msg.payload.meta_acumulada)}}</div>\n        <div class=\"kpi-label\">Meta Acumulada</div>\n      </div>\n\n      <div class=\"kpi-item kpi-real\">\n        <div class=\"kpi-icon\">\n          <svg class=\"tabler-icon\" viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\">\n            <path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\" />\n            <path d=\"M5 12l5 5l10 -10\" />\n          </svg>\n        </div>\n        <div class=\"kpi-value\">{{formatNumber(msg.payload.real_acumulado)}}</div>\n        <div class=\"kpi-label\">Real Acumulado</div>\n      </div>\n    </div>\n\n    <div class=\"progress-section\">\n      <div class=\"progress-label\">\n        <span>Progreso del Turno</span>\n        <span>{{progressPercent}}%</span>\n      </div>\n      <div class=\"progress-bar\">\n        <div class=\"progress-fill\" :style=\"{ width: progressPercent + '%' }\"></div>\n      </div>\n    </div>\n  </div>\n\n  <div v-else class=\"no-data\">\n    <div class=\"no-data-icon\">⏳</div>\n    Esperando datos de simulación...\n  </div>\n</div>\n\n<script>\n  export default {\n    computed: {\n      progressPercent() {\n        if (!this.msg || !this.msg.payload) return 0;\n        const hora = Number(this.msg.payload.hora) || 0;\n        return Math.round((hora / 8) * 100);\n      }\n    },\n    methods: {\n      formatNumber(v) {\n        const n = Number(v) || 0;\n        return n.toLocaleString();\n      }\n    }\n  }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f69128a8b01866a4",
        "type": "change",
        "z": "90a47a5490fd03e3",
        "name": "set flow.staffing",
        "rules": [
            {
                "t": "set",
                "p": "staffing",
                "pt": "flow",
                "to": "staffing",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "staffing",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "06f1093e12c66e24",
        "type": "change",
        "z": "90a47a5490fd03e3",
        "name": "set flow.meta_hora",
        "rules": [
            {
                "t": "set",
                "p": "meta_hora",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "meta_hora",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ebe1446d44bc7d30",
        "type": "function",
        "z": "90a47a5490fd03e3",
        "name": "Formatear Gráfico (por Turno)",
        "func": "// msg.payload = { turno: 1, meta: X, real: Y, ... }\nlet p = msg.payload;\nlet category = `T${p.turno}`; // La etiqueta para el eje X, ej: \"T1\"\n\n// Mensaje para la barra \"Real\"\nlet msg_real = {\n    topic: \"Producción Real\",\n    payload: {\n        x: category,\n        y: p.real\n    }\n};\n\n// Mensaje para la barra \"Meta\"\nlet msg_meta = {\n    topic: \"Meta de Turno\",\n    payload: {\n        x: category,\n        y: p.meta\n    }\n};\n\n// Retorna un array de mensajes.\n// El ui-chart los recibirá y los ploteará como dos barras\n// en la misma categoría (ej. \"T1\")\nreturn [msg_real, msg_meta];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 140,
        "wires": [
            [
                "633f7a3afd8c7e4c"
            ]
        ]
    },
    {
        "id": "bf14d4fac1d92276",
        "type": "inject",
        "z": "90a47a5490fd03e3",
        "name": "Establecer Defaults",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "4807a968780ab565",
                "8d9a6c3d7d0bde84"
            ]
        ]
    },
    {
        "id": "50ba71b55ba6e192",
        "type": "ui-template",
        "z": "90a47a5490fd03e3",
        "group": "6948a1a24a42f69c",
        "page": "",
        "ui": "",
        "name": "Selector de Personal (Staffing)",
        "order": 1,
        "width": "6",
        "height": "4",
        "format": "<style>\n  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');\n\n  .staffing-container {\n    background: rgba(255, 255, 255, 0.95);\n    backdrop-filter: blur(10px);\n    border-radius: 24px;\n    padding: 24px;\n    box-shadow:\n      0 8px 32px rgba(0, 0, 0, 0.1),\n      0 2px 8px rgba(0, 0, 0, 0.08);\n    border: 1px solid rgba(255, 255, 255, 0.2);\n    position: relative;\n    overflow: hidden;\n    height: fit-content;\n  }\n\n  .staffing-container::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: 0;\n    right: 0;\n    height: 4px;\n    background: linear-gradient(90deg, #00bfa5, #009688);\n    opacity: 0.8;\n  }\n\n  .staffing-header {\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    gap: 12px;\n    margin-bottom: 20px;\n    flex-wrap: wrap;\n  }\n\n  .staffing-label {\n    font-size: 1.1em;\n    font-weight: 600;\n    color: #1e293b;\n  }\n\n  .staffing-count {\n    background: linear-gradient(135deg, #00bfa5, #009688);\n    color: white;\n    padding: 6px 16px;\n    border-radius: 20px;\n    font-size: 1.1em;\n    font-weight: bold;\n    box-shadow: 0 3px 8px rgba(0, 150, 136, 0.4);\n  }\n\n  .staffing-grid {\n    display: flex;\n    justify-content: center;\n    gap: 12px;\n    flex-wrap: wrap;\n  }\n\n  .staffing-person {\n    width: 60px;\n    height: 60px;\n    background: rgba(255, 255, 255, 0.8);\n    border-radius: 50%;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    cursor: pointer;\n    transition: all 0.3s ease;\n    position: relative;\n    border: 2px solid transparent;\n    backdrop-filter: blur(5px);\n  }\n\n  .staffing-person.active {\n    background: linear-gradient(135deg, #00bfa5, #009688);\n    transform: scale(1.1);\n    animation: pulse 2s ease-in-out infinite;\n  }\n\n  .staffing-person:not(.active):hover {\n    transform: scale(1.05);\n    border-color: #009688;\n    background: rgba(0, 150, 136, 0.1);\n  }\n\n  .person-icon {\n    width: 28px;\n    height: 28px;\n    stroke: currentColor;\n    stroke-width: 1.5;\n    fill: none;\n    stroke-linecap: round;\n    stroke-linejoin: round;\n  }\n\n  .staffing-person.active .person-icon {\n    color: white;\n    animation: bounce 1s ease-in-out infinite;\n  }\n\n  .person-badge {\n    position: absolute;\n    bottom: -4px;\n    right: -4px;\n    background: #FF5722;\n    color: white;\n    font-size: 0.7em;\n    font-weight: bold;\n    border-radius: 50%;\n    width: 20px;\n    height: 20px;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    border: 2px solid white;\n    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);\n  }\n\n  .staffing-person.active .person-badge {\n    background: #4CAF50;\n  }\n\n  .particles {\n    position: absolute;\n    top: 0;\n    left: 0;\n    width: 100%;\n    height: 100%;\n    pointer-events: none;\n  }\n\n  .particle {\n    position: absolute;\n    background: rgba(0, 191, 165, 0.1);\n    border-radius: 50%;\n    animation: floatParticle 8s ease-in-out infinite;\n  }\n\n  @keyframes floatParticle {\n\n    0%,\n    100% {\n      transform: translate(0, 0) rotate(0deg) scale(1);\n      opacity: 0;\n    }\n\n    10% {\n      opacity: 0.3;\n    }\n\n    50% {\n      transform: translate(15px, -15px) rotate(180deg) scale(1.2);\n      opacity: 0.6;\n    }\n\n    90% {\n      opacity: 0.3;\n    }\n  }\n\n  @keyframes pulse {\n\n    0%,\n    100% {\n      box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.4);\n    }\n\n    50% {\n      box-shadow: 0 0 0 8px rgba(0, 150, 136, 0);\n    }\n  }\n\n  @keyframes bounce {\n\n    0%,\n    100% {\n      transform: translateY(0);\n    }\n\n    50% {\n      transform: translateY(-2px);\n    }\n  }\n\n  @media (max-width: 768px) {\n    .staffing-container {\n      padding: 20px 16px;\n    }\n\n    .staffing-person {\n      width: 50px;\n      height: 50px;\n    }\n\n    .person-icon {\n      width: 24px;\n      height: 24px;\n    }\n\n    .person-badge {\n      width: 18px;\n      height: 18px;\n      font-size: 0.6em;\n    }\n  }\n</style>\n\n<div class=\"staffing-container\">\n  <div class=\"particles\">\n    <div v-for=\"i in 8\" :key=\"i\" class=\"particle\" :style=\"{\n      width: (Math.random() * 3 + 1) + 'px',\n      height: (Math.random() * 3 + 1) + 'px',\n      left: (Math.random() * 100) + '%',\n      top: (Math.random() * 100) + '%',\n      animationDelay: (Math.random() * 6) + 's',\n      animationDuration: (Math.random() * 3 + 5) + 's'\n    }\"></div>\n  </div>\n\n  <div class=\"staffing-header\">\n    <span class=\"staffing-label\">Celdas Asignadas:</span>\n    <span class=\"staffing-count\">{{currentStaffing}}/{{maxStaffing}}</span>\n  </div>\n\n  <div class=\"staffing-grid\">\n    <div v-for=\"i in maxStaffing\" :key=\"i\" class=\"staffing-person\" :class=\"{ 'active': i <= currentStaffing }\"\n      @click=\"sendStaffing(i)\">\n      <svg class=\"person-icon\" viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\">\n        <path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\" />\n        <circle cx=\"12\" cy=\"7\" r=\"4\" />\n        <path d=\"M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2\" />\n      </svg>\n      <span class=\"person-badge\">{{i}}</span>\n    </div>\n  </div>\n</div>\n\n<script>\n  export default {\n    data() {\n      return {\n        currentStaffing: 3,\n        maxStaffing: 6,\n        isSynced: false\n      }\n    },\n    watch: {\n      msg: {\n        handler(newMsg) {\n          if (!newMsg) return;\n\n          if (newMsg.numCeldas !== undefined) {\n            const n = parseInt(newMsg.numCeldas, 10);\n            if (!isNaN(n) && n > 0) {\n              this.maxStaffing = n;\n              if (this.currentStaffing > n) {\n                this.currentStaffing = n;\n                this.sendStaffing(n);\n              }\n            }\n          }\n\n          if (newMsg.staffing !== undefined) {\n            const s = parseInt(newMsg.staffing, 10);\n            if (!isNaN(s)) {\n              this.currentStaffing = Math.max(0, Math.min(s, this.maxStaffing));\n              this.isSynced = true;\n              window.localStorage.setItem('sim_staffing', String(this.currentStaffing));\n            }\n          }\n        },\n        deep: true,\n        immediate: true\n      }\n    },\n    mounted() {\n      const saved = window.localStorage.getItem('sim_staffing');\n      if (saved !== null) {\n        const s = parseInt(saved, 10);\n        if (!isNaN(s)) {\n          this.currentStaffing = Math.max(0, Math.min(s, this.maxStaffing));\n        }\n      }\n    },\n    methods: {\n      sendStaffing(count) {\n        this.currentStaffing = count;\n        this.isSynced = true;\n        window.localStorage.setItem('sim_staffing', String(count));\n        this.send({\n          payload: count,\n          topic: 'staffing',\n          staffing: count\n        });\n      }\n    }\n  }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 610,
        "y": 280,
        "wires": [
            [
                "f69128a8b01866a4"
            ]
        ]
    },
    {
        "id": "54c0090dd396a7e0",
        "type": "ui-template",
        "z": "90a47a5490fd03e3",
        "group": "6948a1a24a42f69c",
        "page": "",
        "ui": "",
        "name": "Meta por hora",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<style>\n  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');\n\n  .meta-container {\n    background: rgba(255, 255, 255, 0.95);\n    backdrop-filter: blur(10px);\n    border-radius: 24px;\n    padding: 24px;\n    box-shadow:\n      0 8px 32px rgba(0, 0, 0, 0.1),\n      0 2px 8px rgba(0, 0, 0, 0.08);\n    border: 1px solid rgba(255, 255, 255, 0.2);\n    position: relative;\n    overflow: hidden;\n    height: fit-content;\n  }\n\n  .meta-container::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: 0;\n    right: 0;\n    height: 4px;\n    background: linear-gradient(90deg, #FF6B6B, #EE5A6F);\n    opacity: 0.8;\n  }\n\n  .meta-header {\n    text-align: center;\n    margin-bottom: 20px;\n  }\n\n  .meta-label {\n    font-size: 1.1em;\n    font-weight: 600;\n    color: #1e293b;\n    margin-bottom: 12px;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    gap: 8px;\n  }\n\n  .meta-value {\n    background: linear-gradient(135deg, #FF6B6B, #EE5A6F);\n    color: white;\n    padding: 10px 24px;\n    border-radius: 20px;\n    font-size: 1.8em;\n    font-weight: bold;\n    display: inline-block;\n    margin-bottom: 8px;\n    box-shadow: 0 4px 12px rgba(255, 107, 107, 0.4);\n    animation: pulse-value 2s ease-in-out infinite;\n  }\n\n  .meta-subtitle {\n    font-size: 0.85em;\n    color: #64748b;\n    font-weight: 500;\n  }\n\n  .meta-grid {\n    display: grid;\n    grid-template-columns: repeat(5, 1fr);\n    gap: 8px;\n    margin-bottom: 20px;\n  }\n\n  .meta-button {\n    background: rgba(255, 255, 255, 0.8);\n    border: 2px solid transparent;\n    border-radius: 12px;\n    padding: 12px 8px;\n    font-size: 1.1em;\n    font-weight: bold;\n    color: #64748b;\n    cursor: pointer;\n    transition: all 0.3s ease;\n    backdrop-filter: blur(5px);\n  }\n\n  .meta-button.active {\n    background: linear-gradient(135deg, #FF6B6B, #EE5A6F);\n    color: white;\n    transform: scale(1.05);\n    box-shadow: 0 3px 8px rgba(255, 107, 107, 0.4);\n  }\n\n  .meta-button:not(.active):hover {\n    transform: scale(1.03);\n    border-color: #FF6B6B;\n    background: rgba(255, 107, 107, 0.1);\n  }\n\n  .meta-quick-select {\n    display: flex;\n    justify-content: center;\n    gap: 8px;\n    margin-top: 16px;\n    flex-wrap: wrap;\n  }\n\n  .quick-select-btn {\n    background: rgba(108, 117, 125, 0.8);\n    color: white;\n    border: none;\n    border-radius: 16px;\n    padding: 8px 14px;\n    font-size: 0.8em;\n    font-weight: 600;\n    cursor: pointer;\n    display: flex;\n    align-items: center;\n    gap: 6px;\n    transition: all 0.3s ease;\n    backdrop-filter: blur(5px);\n  }\n\n  .quick-select-btn:hover {\n    background: rgba(90, 98, 104, 0.9);\n    transform: scale(1.05);\n  }\n\n  .quick-select-icon {\n    width: 16px;\n    height: 16px;\n    stroke: currentColor;\n    stroke-width: 2;\n    fill: none;\n    stroke-linecap: round;\n    stroke-linejoin: round;\n  }\n\n  .particles {\n    position: absolute;\n    top: 0;\n    left: 0;\n    width: 100%;\n    height: 100%;\n    pointer-events: none;\n  }\n\n  .particle {\n    position: absolute;\n    background: rgba(255, 107, 107, 0.1);\n    border-radius: 50%;\n    animation: floatParticle 8s ease-in-out infinite;\n  }\n\n  @keyframes floatParticle {\n\n    0%,\n    100% {\n      transform: translate(0, 0) rotate(0deg) scale(1);\n      opacity: 0;\n    }\n\n    10% {\n      opacity: 0.3;\n    }\n\n    50% {\n      transform: translate(15px, -15px) rotate(180deg) scale(1.2);\n      opacity: 0.6;\n    }\n\n    90% {\n      opacity: 0.3;\n    }\n  }\n\n  @keyframes pulse-value {\n\n    0%,\n    100% {\n      transform: scale(1);\n      box-shadow: 0 4px 12px rgba(255, 107, 107, 0.4);\n    }\n\n    50% {\n      transform: scale(1.02);\n      box-shadow: 0 5px 15px rgba(255, 107, 107, 0.6);\n    }\n  }\n\n  @media (max-width: 768px) {\n    .meta-container {\n      padding: 20px 16px;\n    }\n\n    .meta-grid {\n      grid-template-columns: repeat(3, 1fr);\n      gap: 6px;\n    }\n\n    .meta-button {\n      padding: 10px 6px;\n      font-size: 1em;\n    }\n\n    .meta-value {\n      font-size: 1.6em;\n      padding: 8px 20px;\n    }\n\n    .meta-quick-select {\n      flex-direction: column;\n      align-items: center;\n    }\n\n    .quick-select-btn {\n      width: 100%;\n      max-width: 180px;\n      justify-content: center;\n    }\n  }\n</style>\n\n<div class=\"meta-container\">\n  <div class=\"particles\">\n    <div v-for=\"i in 8\" :key=\"i\" class=\"particle\" :style=\"{\n      width: (Math.random() * 3 + 1) + 'px',\n      height: (Math.random() * 3 + 1) + 'px',\n      left: (Math.random() * 100) + '%',\n      top: (Math.random() * 100) + '%',\n      animationDelay: (Math.random() * 6) + 's',\n      animationDuration: (Math.random() * 3 + 5) + 's'\n    }\"></div>\n  </div>\n\n  <div class=\"meta-header\">\n    <div class=\"meta-label\">Meta por Hora (por celda)</div>\n    <div class=\"meta-value\">{{metaHora}}</div>\n    <div class=\"meta-subtitle\">unidades/hora</div>\n  </div>\n\n  <div class=\"meta-grid\">\n    <button v-for=\"n in 10\" :key=\"n\"\n            class=\"meta-button\"\n            :class=\"{ 'active': n === metaHora }\"\n            @click=\"setMeta(n)\">\n      {{n}}\n    </button>\n  </div>\n\n  <div class=\"meta-quick-select\">\n    <button class=\"quick-select-btn\" @click=\"setMeta(3)\">\n      <svg class=\"quick-select-icon\" viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\">\n        <path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\"/>\n        <path d=\"M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0\" />\n        <path d=\"M12 12h-3.5\" />\n        <path d=\"M12 7v5\" />\n      </svg>\n      Baja (3)\n    </button>\n    <button class=\"quick-select-btn\" @click=\"setMeta(5)\">\n      <svg class=\"quick-select-icon\" viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\">\n        <path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\"/>\n        <path d=\"M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0\" />\n        <path d=\"M13.5 7.5l-3 3\" />\n        <path d=\"M12 12h2.5\" />\n        <path d=\"M12 7v5\" />\n      </svg>\n      Media (5)\n    </button>\n    <button class=\"quick-select-btn\" @click=\"setMeta(10)\">\n      <svg class=\"quick-select-icon\" viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\">\n        <path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\"/>\n        <path d=\"M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0\" />\n        <path d=\"M12 7v5l3 3\" />\n      </svg>\n      Alta (10)\n    </button>\n  </div>\n</div>\n\n<script>\n  export default {\n    data() {\n      return {\n        metaHora: 5,\n        staffing: 3,\n        isSynced: false\n      }\n    },\n    watch: {\n      msg: {\n        handler(newMsg) {\n          if (!newMsg) return;\n\n          if (newMsg.staffing !== undefined) {\n            const s = parseInt(newMsg.staffing, 10);\n            if (!isNaN(s)) this.staffing = s;\n          }\n\n          if (newMsg.meta_hora !== undefined) {\n            const m = parseInt(newMsg.meta_hora, 10);\n            if (!isNaN(m)) {\n              this.metaHora = m;\n              this.isSynced = true;\n              window.localStorage.setItem('sim_metaHora', String(this.metaHora));\n            }\n          }\n\n          if (newMsg.topic === 'meta' && newMsg.payload !== undefined) {\n            const v = parseInt(newMsg.payload, 10);\n            if (!isNaN(v)) {\n              this.metaHora = v;\n              this.isSynced = true;\n              window.localStorage.setItem('sim_metaHora', String(this.metaHora));\n            }\n          }\n        },\n        immediate: true,\n        deep: true\n      }\n    },\n    mounted() {\n      const saved = window.localStorage.getItem('sim_metaHora');\n      if (saved !== null) {\n        const m = parseInt(saved, 10);\n        if (!isNaN(m)) {\n          this.metaHora = m;\n        }\n      }\n    },\n    methods: {\n      setMeta(value) {\n        if (value >= 0 && value <= 999) {\n          this.metaHora = value;\n          this.isSynced = true;\n          window.localStorage.setItem('sim_metaHora', String(value));\n          this.send({ payload: this.metaHora, topic: 'meta', meta_hora: this.metaHora });\n        }\n      }\n    }\n  }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 560,
        "y": 240,
        "wires": [
            [
                "06f1093e12c66e24"
            ]
        ]
    },
    {
        "id": "4807a968780ab565",
        "type": "function",
        "z": "90a47a5490fd03e3",
        "name": "Default Meta",
        "func": "// Function node -> Default Meta: 5 (sólo si no existe)\nlet currentMeta = flow.get('meta_hora');\nif (typeof currentMeta !== 'number' || isNaN(currentMeta)) {\n  flow.set('meta_hora', 5);\n  msg.payload = 5;\n  msg.topic = 'meta';\n  msg.meta_hora = 5;\n  return msg;\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 240,
        "wires": [
            [
                "54c0090dd396a7e0"
            ]
        ]
    },
    {
        "id": "8d9a6c3d7d0bde84",
        "type": "function",
        "z": "90a47a5490fd03e3",
        "name": "Default Staffing",
        "func": "// Function node -> Default Staffing: 3 (sólo si no existe)\nlet current = flow.get('staffing');\nif (typeof current !== 'number' || isNaN(current)) {\n  flow.set('staffing', 3);\n  msg.payload = 3;\n  msg.topic = 'staffing';\n  msg.staffing = 3;\n  return msg;\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 280,
        "wires": [
            [
                "50ba71b55ba6e192"
            ]
        ]
    },
    {
        "id": "6b0908094d02aefb",
        "type": "ui-template",
        "z": "90a47a5490fd03e3",
        "group": "9ee96193c7db482b",
        "page": "",
        "ui": "",
        "name": "Grid de Celdas (Proceso Textil)",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<style>\n  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');\n\n  * {\n    margin: 0;\n    padding: 0;\n    box-sizing: border-box;\n  }\n\n  body {\n    margin: 0;\n    padding: 0;\n    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);\n    background-size: 400% 400%;\n    animation: gradient 15s ease infinite;\n    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;\n    min-height: 100vh;\n  }\n\n  @keyframes gradient {\n    0% {\n      background-position: 0% 50%;\n    }\n\n    50% {\n      background-position: 100% 50%;\n    }\n\n    100% {\n      background-position: 0% 50%;\n    }\n  }\n\n  .grid-container {\n    display: flex;\n    flex-wrap: wrap;\n    gap: 24px;\n    padding: 32px;\n    justify-content: center;\n    align-items: center;\n    min-height: 100vh;\n  }\n\n  .celda {\n    flex: 0 1 320px;\n    /* Aumentado para celdas más largas */\n    min-width: 300px;\n    /* Aumentado para celdas más largas */\n    perspective: 1000px;\n  }\n\n  .celda-inner {\n    background: rgba(255, 255, 255, 0.95);\n    backdrop-filter: blur(10px);\n    border-radius: 24px;\n    padding: 32px;\n    text-align: center;\n    color: #334155;\n    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);\n    height: 460px;\n    /* Aumentado para celdas más largas */\n    display: flex;\n    flex-direction: column;\n    justify-content: space-between;\n    box-shadow:\n      0 8px 32px rgba(0, 0, 0, 0.1),\n      0 2px 8px rgba(0, 0, 0, 0.08),\n      inset 0 1px 0 rgba(255, 255, 255, 0.6);\n    position: relative;\n    overflow: hidden;\n    border: 1px solid rgba(255, 255, 255, 0.2);\n  }\n\n  .celda-inner::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: 0;\n    right: 0;\n    height: 4px;\n    background: currentColor;\n    opacity: 0.8;\n    transform: scaleX(0);\n    transition: transform 0.6s ease;\n  }\n\n  .celda:hover .celda-inner {\n    transform: translateY(-12px) rotateX(5deg);\n    box-shadow:\n      0 20px 40px rgba(0, 0, 0, 0.15),\n      0 8px 24px rgba(0, 0, 0, 0.12),\n      inset 0 1px 0 rgba(255, 255, 255, 0.8);\n  }\n\n  .celda:hover .celda-inner::before {\n    transform: scaleX(1);\n  }\n\n  .celda-title {\n    font-weight: 700;\n    font-size: 1.3em;\n    color: #1e293b;\n    margin-bottom: 16px;\n    letter-spacing: -0.02em;\n    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);\n  }\n\n  .celda-kpis-bottom {\n    font-size: 0.92em;\n    text-align: left;\n    line-height: 1.7;\n    color: #475569;\n    background: rgba(255, 255, 255, 0.6);\n    padding: 16px;\n    border-radius: 12px;\n    backdrop-filter: blur(5px);\n  }\n\n  .celda-kpis-bottom b {\n    color: #1e293b;\n    font-weight: 600;\n  }\n\n  .proceso-content {\n    flex-grow: 1;\n    display: flex;\n    flex-direction: column;\n    justify-content: center;\n    align-items: center;\n    min-height: 200px;\n    /* Aumentado para celdas más largas */\n  }\n\n  /* Contenedor de animaciones - AUMENTADO para las nuevas animaciones */\n  .icon-container {\n    width: 180px;\n    /* Aumentado */\n    height: 180px;\n    /* Aumentado */\n    position: relative;\n    margin-bottom: 20px;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    overflow: hidden;\n  }\n\n  /* Estilos para las animaciones */\n  .animation-wrapper {\n    width: 100%;\n    height: 100%;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    position: relative;\n  }\n\n  /* Animación de CORTE - Tijeras cortando */\n  .icon-corte .animation-wrapper {\n    transform: scale(1.1);\n    /* Aumentado */\n  }\n\n  /* Animación de COSTURA - Aguja cosiendo */\n  .icon-costura .animation-wrapper {\n    transform: scale(1.2);\n    /* Aumentado */\n  }\n\n  /* Animación de INSPECCIÓN - Lupa escaneando */\n  .icon-inspeccion .animation-wrapper {\n    transform: scale(1.1);\n    /* Aumentado */\n  }\n\n  /* Animación de EMPAQUE - Caja moviéndose */\n  .icon-empaque .animation-wrapper {\n    transform: scale(1.1);\n    /* Aumentado */\n  }\n\n  /* Animación de PARADA - Señal de alerta pulsante */\n  .icon-parada .animation-wrapper {\n    transform: scale(0.8);\n    /* Aumentado */\n  }\n\n  /* Animación de ESPERANDO - Reloj de arena */\n  .icon-esperando .animation-wrapper {\n    transform: scale(1.0);\n    /* Aumentado */\n  }\n\n  /* Animación de SIN PERSONAL - Persona desvaneciéndose */\n  .icon-sin_personal .animation-wrapper {\n    transform: scale(0.9);\n    /* Aumentado */\n  }\n\n  .proceso-progreso-container {\n    background-color: rgba(255, 255, 255, 0.4);\n    border-radius: 12px;\n    height: 16px;\n    width: 100%;\n    margin-top: 20px;\n    overflow: hidden;\n    position: relative;\n  }\n\n  .proceso-progreso-value {\n    height: 100%;\n    transition: width 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);\n    border-radius: 12px;\n    position: relative;\n    overflow: hidden;\n  }\n\n  .proceso-progreso-value::after {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -100%;\n    width: 100%;\n    height: 100%;\n    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);\n    animation: shimmer 1.5s infinite;\n  }\n\n  @keyframes shimmer {\n    0% {\n      transform: translateX(-100%);\n    }\n\n    100% {\n      transform: translateX(400%);\n    }\n  }\n\n  .progreso-text {\n    font-size: 1em;\n    font-weight: 600;\n    margin-top: 16px;\n    letter-spacing: 0.03em;\n    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n    -webkit-background-clip: text;\n    -webkit-text-fill-color: transparent;\n    background-clip: text;\n    animation: textGlow 2s ease-in-out infinite alternate;\n  }\n\n  @keyframes textGlow {\n    from {\n      filter: brightness(1);\n    }\n\n    to {\n      filter: brightness(1.3);\n    }\n  }\n\n  .estado-text {\n    font-weight: 700;\n    margin-top: 20px;\n    font-size: 1.2em;\n    text-transform: uppercase;\n    letter-spacing: 0.08em;\n    position: relative;\n    display: inline-block;\n  }\n\n  .estado-text::after {\n    content: '';\n    position: absolute;\n    bottom: -4px;\n    left: 0;\n    width: 100%;\n    height: 2px;\n    background: currentColor;\n    transform: scaleX(0);\n    transition: transform 0.3s ease;\n  }\n\n  .celda:hover .estado-text::after {\n    transform: scaleX(1);\n  }\n\n  /* Estados con gradientes animados */\n  .celda-estado-trabajando .celda-inner {\n    background: linear-gradient(135deg, rgba(16, 185, 129, 0.95) 0%, rgba(5, 150, 105, 0.95) 100%);\n    color: #ffffff;\n  }\n\n  .celda-estado-parada .celda-inner {\n    background: linear-gradient(135deg, rgba(239, 68, 68, 0.95) 0%, rgba(220, 38, 38, 0.95) 100%);\n    color: #ffffff;\n  }\n\n  .celda-estado-esperando .celda-inner {\n    background: linear-gradient(135deg, rgba(245, 158, 11, 0.95) 0%, rgba(217, 119, 6, 0.95) 100%);\n    color: #ffffff;\n  }\n\n  .celda-estado-sin_personal .celda-inner {\n    background: linear-gradient(135deg, rgba(107, 114, 128, 0.95) 0%, rgba(75, 85, 99, 0.95) 100%);\n    color: #ffffff;\n  }\n\n  .celda-estado-trabajando .celda-title,\n  .celda-estado-parada .celda-title,\n  .celda-estado-esperando .celda-title,\n  .celda-estado-sin_personal .celda-title {\n    color: #ffffff;\n    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);\n  }\n\n  .celda-estado-trabajando .celda-kpis-bottom,\n  .celda-estado-parada .celda-kpis-bottom,\n  .celda-estado-esperando .celda-kpis-bottom,\n  .celda-estado-sin_personal .celda-kpis-bottom {\n    color: rgba(255, 255, 255, 0.95);\n    background: rgba(255, 255, 255, 0.15);\n  }\n\n  .celda-estado-trabajando .celda-kpis-bottom b,\n  .celda-estado-parada .celda-kpis-bottom b,\n  .celda-estado-esperando .celda-kpis-bottom b,\n  .celda-estado-sin_personal .celda-kpis-bottom b {\n    color: #ffffff;\n  }\n\n  /* Partículas flotantes mejoradas */\n  .particles {\n    position: absolute;\n    top: 0;\n    left: 0;\n    width: 100%;\n    height: 100%;\n    pointer-events: none;\n  }\n\n  .particle {\n    position: absolute;\n    background: rgba(255, 255, 255, 0.6);\n    border-radius: 50%;\n    animation: floatParticle 8s ease-in-out infinite;\n  }\n\n  @keyframes floatParticle {\n\n    0%,\n    100% {\n      transform: translate(0, 0) rotate(0deg) scale(1);\n      opacity: 0;\n    }\n\n    10% {\n      opacity: 1;\n    }\n\n    50% {\n      transform: translate(30px, -30px) rotate(180deg) scale(1.2);\n      opacity: 0.8;\n    }\n\n    90% {\n      opacity: 1;\n    }\n  }\n\n  /* Efectos de brillo para estados trabajando */\n  .celda-estado-trabajando .icon-container::before {\n    content: '';\n    position: absolute;\n    top: 50%;\n    left: 50%;\n    width: 120px;\n    height: 120px;\n    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, transparent 70%);\n    transform: translate(-50%, -50%);\n    animation: glow 3s ease-in-out infinite;\n    border-radius: 50%;\n  }\n\n  @keyframes glow {\n\n    0%,\n    100% {\n      opacity: 0.3;\n      transform: translate(-50%, -50%) scale(1);\n    }\n\n    50% {\n      opacity: 0.6;\n      transform: translate(-50%, -50%) scale(1.1);\n    }\n  }\n\n  /* ESTILOS ESPECÍFICOS PARA LAS ANIMACIONES */\n\n  /* EMPAQUE - Caja (MÁS GRANDE) */\n  :root {\n    --body-col: #f5f5f5;\n    --shirt-color: #3498db;\n    --shirt-shadow: #2980b9;\n    --box-base-color: #d4a574;\n    --box-lid-color: #d4a574;\n    --box-shadow: #c09060;\n    --box-inside: #f4e4d7;\n    --button-color: #ecf0f1;\n    --animation-duration: 3s;\n    --shirt-drop-delay: 0.5s;\n    --lid-close-delay: 1.5s;\n  }\n\n  .scene-empaque {\n    width: 240px;\n    /* Aumentado */\n    height: 240px;\n    /* Aumentado */\n    position: relative;\n  }\n\n  .box-base {\n    position: absolute;\n    top: 108px;\n    /* Ajustado */\n    left: 50%;\n    transform: translateX(-50%);\n    width: 90px;\n    /* Aumentado */\n    height: 54px;\n    /* Aumentado */\n    background: linear-gradient(135deg, var(--box-base-color), var(--box-shadow));\n    border-radius: 4px;\n    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);\n    z-index: 1;\n  }\n\n  .box-inside-visual {\n    position: absolute;\n    top: 2px;\n    left: 2px;\n    width: calc(100% - 4px);\n    height: calc(100% - 4px);\n    background: var(--box-inside);\n    border-radius: 2px;\n    border: 1px solid rgba(0, 0, 0, 0.1);\n  }\n\n  .shirt {\n    position: absolute;\n    top: 48px;\n    /* Ajustado */\n    left: 50%;\n    transform: translateX(-50%);\n    width: 108px;\n    /* Aumentado */\n    height: 60px;\n    /* Aumentado */\n    z-index: 2;\n    animation: drop-shirt-and-fade var(--animation-duration) var(--shirt-drop-delay) forwards ease-out;\n  }\n\n  .shirt-main {\n    position: absolute;\n    top: 0;\n    left: 50%;\n    transform: translateX(-50%);\n    width: 78px;\n    /* Aumentado */\n    height: 100%;\n    background: linear-gradient(135deg, var(--shirt-color), var(--shirt-shadow));\n    border-radius: 4px;\n    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    z-index: 2;\n  }\n\n  .shirt-collar-fold {\n    position: absolute;\n    top: 2px;\n    width: 54px;\n    /* Aumentado */\n    height: 12px;\n    /* Aumentado */\n    background: linear-gradient(135deg, var(--shirt-shadow), var(--shirt-color));\n    border-radius: 4px;\n    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);\n    z-index: 3;\n  }\n\n  .shirt-sleeve-left,\n  .shirt-sleeve-right {\n    position: absolute;\n    width: 24px;\n    /* Aumentado */\n    height: 42px;\n    /* Aumentado */\n    background: linear-gradient(90deg, var(--shirt-color), var(--shirt-shadow));\n    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);\n    z-index: 1;\n    top: 6px;\n    /* Ajustado */\n    border-radius: 3px;\n  }\n\n  .shirt-sleeve-left {\n    left: 0;\n  }\n\n  .shirt-sleeve-right {\n    right: 0;\n  }\n\n  .shirt-buttons {\n    position: absolute;\n    top: 18px;\n    /* Ajustado */\n    display: flex;\n    flex-direction: column;\n    gap: 4px;\n    /* Aumentado */\n    z-index: 3;\n  }\n\n  .button {\n    width: 5px;\n    /* Aumentado */\n    height: 5px;\n    /* Aumentado */\n    background: var(--button-color);\n    border-radius: 50%;\n    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);\n  }\n\n  .shirt-tag {\n    position: absolute;\n    bottom: 5px;\n    /* Ajustado */\n    right: 5px;\n    /* Ajustado */\n    width: 15px;\n    /* Aumentado */\n    height: 9px;\n    /* Aumentado */\n    background: rgba(255, 255, 255, 0.9);\n    border-radius: 2px;\n    z-index: 3;\n  }\n\n  .box-lid {\n    position: absolute;\n    top: 48px;\n    /* Ajustado */\n    left: 50%;\n    transform: translateX(-50%);\n    width: 94px;\n    /* Aumentado */\n    height: 58px;\n    /* Aumentado */\n    background: linear-gradient(135deg, var(--box-lid-color), var(--box-shadow));\n    border-radius: 4px;\n    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);\n    z-index: 3;\n    animation: close-box-lid var(--animation-duration) var(--lid-close-delay) forwards ease-in-out;\n    opacity: 0;\n  }\n\n  @keyframes drop-shirt-and-fade {\n    0% {\n      top: 48px;\n      opacity: 1;\n    }\n\n    50% {\n      top: 109px;\n      opacity: 1;\n    }\n\n    55% {\n      opacity: 0;\n    }\n\n    100% {\n      top: 109px;\n      opacity: 0;\n    }\n  }\n\n  @keyframes close-box-lid {\n    0% {\n      top: 48px;\n      opacity: 0;\n    }\n\n    40% {\n      top: 48px;\n      opacity: 0;\n    }\n\n    50% {\n      opacity: 1;\n    }\n\n    100% {\n      top: 108px;\n      opacity: 1;\n    }\n  }\n\n  /* CORTE - Tijeras (MÁS GRANDE Y VISIBLE) */\n  :root {\n    --handles-col: #d32f2f;\n    --joint-col: #b71c1c;\n    --blade-col: #e0e0e0;\n    --fabric-color: #5c6bc0;\n    --fabric-pattern: #3949ab;\n    --fabric-cut-edge: #283593;\n    --hw: 3em;\n    /* Aumentado */\n    --bw: 6.75em;\n    /* Aumentado */\n    --div: 4;\n    --angle: 20deg;\n    --f-angle: 80deg;\n    --animation-duration: 3.5s;\n  }\n\n  .scene-corte {\n    width: 200px;\n    /* Aumentado */\n    height: 150px;\n    /* Aumentado */\n    position: relative;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n  }\n\n  .fabric-wrapper-corte {\n    width: 120px;\n    /* Aumentado */\n    height: 60px;\n    /* Aumentado */\n    top: 50%;\n    left: 50%;\n    transform: translate(-50%, -50%);\n    z-index: 0;\n    position: absolute;\n  }\n\n  .fabric-full-corte {\n    width: 100%;\n    height: 100%;\n    background: repeating-linear-gradient(45deg,\n        var(--fabric-color),\n        var(--fabric-color) 5px,\n        var(--fabric-pattern) 5px,\n        var(--fabric-pattern) 10px);\n    border-radius: 3px;\n    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);\n    animation: fabric-full-cycle var(--animation-duration) infinite ease-in-out;\n  }\n\n  .fabric-half-corte {\n    width: calc(50% + 1px);\n    height: 100%;\n    background: repeating-linear-gradient(45deg,\n        var(--fabric-color),\n        var(--fabric-color) 5px,\n        var(--fabric-pattern) 5px,\n        var(--fabric-pattern) 10px);\n    border-radius: 3px;\n    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);\n    position: absolute;\n  }\n\n  .fabric-half-corte.left {\n    left: 0;\n    border-top-right-radius: 0;\n    border-bottom-right-radius: 0;\n    border-right: 1px solid var(--fabric-cut-edge);\n    animation: fabric-split-left var(--animation-duration) infinite ease-in-out;\n  }\n\n  .fabric-half-corte.right {\n    right: 0;\n    border-top-left-radius: 0;\n    border-bottom-left-radius: 0;\n    border-left: 1px solid var(--fabric-cut-edge);\n    animation: fabric-split-right var(--animation-duration) infinite ease-in-out;\n  }\n\n  .cut-line-corte {\n    width: 1px;\n    height: 100%;\n    background: var(--fabric-cut-edge);\n    left: 50%;\n    top: 0;\n    transform: translateX(-50%) scaleY(0);\n    transform-origin: center center;\n    opacity: 0;\n    z-index: 1;\n    animation: cut-line-reveal var(--animation-duration) infinite ease-in-out;\n    position: absolute;\n  }\n\n  .scissors-corte {\n    position: absolute;\n    width: calc(var(--bw) + var(--hw));\n    height: calc(2 * var(--hh) - var(--bh));\n    top: 60px;\n    /* Ajustado */\n    left: 120px;\n    /* Ajustado */\n    z-index: 2;\n    animation: scissors-down-up var(--animation-duration) infinite ease-in-out;\n  }\n\n  .half-corte {\n    width: calc(var(--bw) + var(--hw));\n    height: var(--hh);\n    position: absolute;\n    top: 0;\n    left: 0;\n    transform-style: preserve-3d;\n    backface-visibility: hidden;\n    transform-origin: var(--lpp) 100% 0;\n    transform: rotate(calc(var(--angle) / 2));\n    animation: blade-up-action var(--animation-duration) infinite ease-in-out;\n  }\n\n  .half-corte:nth-child(even) {\n    top: calc(var(--hh) - var(--bh));\n    transform-origin: var(--lpp) 0% 0;\n    transform: rotate(calc(var(--angle) / -2));\n    animation: blade-down-action var(--animation-duration) infinite ease-in-out;\n  }\n\n  .half-corte:nth-child(even) .blade-corte {\n    top: 0;\n    border-radius: 0 var(--bh) 0 0;\n  }\n\n  .half-corte:nth-child(even) .blade-corte:after {\n    top: var(--bh);\n    border-style: solid;\n    border-width: var(--bh) calc(var(--bh) * 2) 0 calc(var(--bh) * 2);\n    border-color: var(--blade-col) transparent transparent transparent;\n  }\n\n  .joint-corte {\n    width: var(--dj);\n    height: var(--dj);\n    border-radius: 50%;\n    background: linear-gradient(135deg, var(--joint-col), #8e0000);\n    position: absolute;\n    top: calc(var(--hh) - var(--bh) / 2 - var(--dj) / 2);\n    left: 91px;\n    /* Ajustado */\n    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);\n    z-index: 3;\n  }\n\n  .handle-corte {\n    width: var(--hw);\n    height: var(--hh);\n    border-radius: calc(var(--hh) / 2);\n    border: var(--ht) solid var(--handles-col);\n    background: linear-gradient(135deg, var(--handles-col), #9a0007);\n    position: absolute;\n    top: 0;\n    left: 0;\n    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);\n    overflow: hidden;\n  }\n\n  .handle-corte:before {\n    content: '';\n    position: absolute;\n    width: 70%;\n    height: 70%;\n    background: transparent;\n    border: calc(var(--ht) * 1.5) solid #f0f0f0;\n    border-radius: 50%;\n    top: 50%;\n    left: 50%;\n    transform: translate(-50%, -50%);\n    box-sizing: border-box;\n  }\n\n  .handle-corte:after {\n    content: '';\n    position: absolute;\n    width: 60%;\n    height: 60%;\n    background: #f0f0f0;\n    border-radius: 50%;\n    top: 50%;\n    left: 50%;\n    transform: translate(-50%, -50%);\n  }\n\n  .blade-corte {\n    width: var(--bw);\n    height: var(--bh);\n    position: absolute;\n    top: calc(var(--hh) - var(--bh));\n    left: var(--hw);\n    background: linear-gradient(to right, var(--blade-col), #f5f5f5);\n    border-radius: 0 0 var(--bh) 0;\n    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);\n  }\n\n  .blade-corte:before {\n    content: '';\n    width: calc(var(--hw) / 2);\n    height: var(--bh);\n    background: linear-gradient(to right, var(--blade-col), #f5f5f5);\n    position: absolute;\n    top: 0;\n    left: calc(var(--hw) / -2);\n  }\n\n  .blade-corte:after {\n    content: '';\n    width: 0;\n    height: 0;\n    border-style: solid;\n    border-width: 0 calc(var(--bh) * 2) var(--bh) calc(var(--bh) * 2);\n    border-color: transparent transparent var(--blade-col) transparent;\n    position: absolute;\n    top: calc(var(--bh) * -1);\n    left: calc(var(--bh) * -2);\n  }\n\n  @keyframes scissors-down-up {\n\n    0%,\n    100% {\n      top: 60px;\n    }\n\n    30% {\n      top: 120px;\n    }\n\n    50% {\n      top: 120px;\n    }\n\n    55% {\n      top: 120px;\n    }\n\n    70% {\n      top: 180px;\n    }\n  }\n\n  @keyframes blade-up-action {\n\n    0%,\n    28% {\n      transform: rotate(calc(var(--angle) / 2));\n    }\n\n    35% {\n      transform: rotate(calc(var(--f-angle) / 2));\n    }\n\n    50% {\n      transform: rotate(calc(var(--angle) / 2));\n    }\n\n    65% {\n      transform: rotate(calc(var(--f-angle) / 2));\n    }\n\n    75%,\n    100% {\n      transform: rotate(calc(var(--angle) / 2));\n    }\n  }\n\n  @keyframes blade-down-action {\n\n    0%,\n    28% {\n      transform: rotate(calc(var(--angle) / -2));\n    }\n\n    35% {\n      transform: rotate(calc(var(--f-angle) / -2));\n    }\n\n    50% {\n      transform: rotate(calc(var(--angle) / -2));\n    }\n\n    65% {\n      transform: rotate(calc(var(--f-angle) / -2));\n    }\n\n    75%,\n    100% {\n      transform: rotate(calc(var(--angle) / -2));\n    }\n  }\n\n  @keyframes fabric-full-cycle {\n    0% {\n      opacity: 1;\n    }\n\n    49% {\n      opacity: 1;\n    }\n\n    50% {\n      opacity: 0;\n    }\n\n    95% {\n      opacity: 0;\n    }\n\n    96% {\n      opacity: 1;\n    }\n\n    100% {\n      opacity: 1;\n    }\n  }\n\n  @keyframes fabric-split-left {\n\n    0%,\n    49% {\n      opacity: 0;\n      transform: translateX(0);\n    }\n\n    50% {\n      opacity: 1;\n      transform: translateX(0);\n    }\n\n    70% {\n      transform: translateX(-1.5em);\n    }\n\n    95% {\n      opacity: 1;\n      transform: translateX(-1.5em);\n    }\n\n    96% {\n      opacity: 0;\n      transform: translateX(0);\n    }\n\n    100% {\n      opacity: 0;\n    }\n  }\n\n  @keyframes fabric-split-right {\n\n    0%,\n    49% {\n      opacity: 0;\n      transform: translateX(0);\n    }\n\n    50% {\n      opacity: 1;\n      transform: translateX(0);\n    }\n\n    70% {\n      transform: translateX(1.5em);\n    }\n\n    95% {\n      opacity: 1;\n      transform: translateX(1.5em);\n    }\n\n    96% {\n      opacity: 0;\n      transform: translateX(0);\n    }\n\n    100% {\n      opacity: 0;\n    }\n  }\n\n  @keyframes cut-line-reveal {\n\n    0%,\n    45% {\n      opacity: 0;\n      transform: translateX(-50%) scaleY(0);\n    }\n\n    49% {\n      opacity: 1;\n      transform: translateX(-50%) scaleY(1);\n    }\n\n    55% {\n      opacity: 1;\n      transform: translateX(-50%) scaleY(1);\n    }\n\n    58% {\n      opacity: 0;\n      transform: translateX(-50%) scaleY(0);\n    }\n\n    100% {\n      opacity: 0;\n    }\n  }\n\n  /* COSTURA - Aguja (sin cambios) */\n  :root {\n    --pane-size: 8rem;\n    --stitching-background: lightsalmon;\n    --thread: indianred;\n    --bottom-cloth: white;\n    --top-margin: 1rem;\n    --needle-duration: 0.5s;\n    --dark-gray: #aeaeae;\n    --light-gray: #eaeaea;\n  }\n\n  .pane-costura {\n    display: block;\n    overflow: hidden;\n    min-width: var(--pane-size);\n    max-width: var(--pane-size);\n    min-height: var(--pane-size);\n    max-height: var(--pane-size);\n    background-color: white;\n    box-shadow: 5px 5px #888888;\n    position: relative;\n  }\n\n  #pane2-costura {\n    background-color: var(--stitching-background);\n    display: flex;\n    justify-content: center;\n    align-items: center;\n  }\n\n  #pane2-costura::before {\n    content: '';\n    display: block;\n    position: absolute;\n    width: 100%;\n    height: 50%;\n    background-color: var(--bottom-cloth);\n    bottom: 0;\n  }\n\n  #pane2-costura .machine-top {\n    position: absolute;\n    left: 0;\n    top: 0;\n    height: 0.5rem;\n    width: 70%;\n    background-color: var(--dark-gray);\n  }\n\n  #pane2-costura .machine-top::before {\n    content: '';\n    display: block;\n    position: absolute;\n    border-bottom-right-radius: 40%;\n    border-bottom-left-radius: 10%;\n    top: 0;\n    right: 0;\n    border: var(--top-margin) outset var(--dark-gray);\n    border-top: 0;\n    height: 0;\n    width: 20%;\n    background-color: var(--light-gray);\n  }\n\n  #stitching_group-costura {\n    width: 100%;\n    min-height: inherit;\n    position: relative;\n    left: 0;\n    top: var(--top-margin);\n  }\n\n  #pane2-costura .stitch {\n    margin-top: 0.25rem;\n    background-color: transparent;\n    width: 2rem;\n    border-radius: 50%;\n    border: 0.1rem solid var(--thread);\n    clip-path: inset(0 0 50% 0);\n    transform-origin: center left;\n    animation: borderStitching var(--needle-duration) infinite ease-in;\n    position: absolute;\n    margin-top: var(--top-margin);\n    z-index: 10;\n  }\n\n  @keyframes borderStitching {\n    0% {\n      transform: translateX(1.25rem);\n      border-radius: 0;\n      height: 0;\n      clip-path: inset(0 100% 50% 0);\n    }\n\n    15% {\n      transform: translateX(1.2rem) scaleY(1.8);\n      border-radius: 0;\n      height: 0.25rem;\n      clip-path: inset(0 99% 52% 0);\n    }\n\n    50% {\n      transform: translateX(0rem) scaleY(2);\n      width: 2rem;\n      height: 1.1rem;\n      border-radius: 50%;\n      border: 0.075rem solid var(--thread);\n      border-top-right-radius: 0;\n      border-right: 0;\n      border-bottom: 0;\n      clip-path: inset(0 40% 50% 0);\n    }\n\n    75% {\n      transform: translateX(-0.95rem) scaleY(1);\n      width: 2rem;\n      height: 0.5rem;\n      border-top-left-radius: 50%;\n      border: 0.1rem solid var(--thread);\n      border-right: 0;\n      clip-path: inset(0 0 0.175rem 0);\n    }\n\n    100% {\n      transform: translateX(-1.1rem);\n      border-radius: 0;\n      border-left: 0;\n      border-right: 0;\n      height: 0.25rem;\n    }\n  }\n\n  #pane2-costura .sewing-machine {\n    position: absolute;\n    top: 0;\n    animation: stitchingNeedle var(--needle-duration) infinite ease-in;\n    width: 100%;\n    height: 100%;\n    display: flex;\n    justify-content: center;\n  }\n\n  @keyframes stitchingNeedle {\n    0% {\n      transform: translateY(0.1rem) scaleY(1.1);\n    }\n\n    50% {\n      transform: translateY(-1.6rem);\n    }\n\n    100% {\n      transform: translateY(0.1rem) scaleY(1.1);\n    }\n  }\n\n  #pane2-costura .sewing-machine .needle {\n    position: relative;\n    box-sizing: border-box;\n    width: 0.5rem;\n    height: 70%;\n    clip-path: polygon(0 0, 0 80%, 50% 100%, 100% 80%, 100% 50%, 100% 0,\n        51% 0, 51% 75%, 62% 80%, 51% 85%, 39% 80%, 51% 75%, 51% 0);\n  }\n\n  #pane2-costura .needle-left-half {\n    position: absolute;\n    left: 0;\n    background-color: var(--dark-gray);\n    width: 50%;\n    height: 100%;\n    z-index: 1;\n  }\n\n  #pane2-costura .needle-right-half {\n    position: absolute;\n    right: 0;\n    height: 100%;\n    width: 50%;\n    background-color: var(--light-gray);\n  }\n\n  #pane2-costura .sewing-machine .top-thread {\n    position: absolute;\n    margin-left: -0.075rem;\n    top: -0.2rem;\n    height: 60%;\n    width: 0.7rem;\n    border: 0.1rem solid var(--thread);\n    border-bottom-right-radius: 50%;\n    border-top: 0;\n    border-left: 0;\n    clip-path: inset(0 0 0 54%);\n    animation: topThread var(--needle-duration) infinite ease-in;\n  }\n\n  @keyframes topThread {\n    0% {\n      width: 0.7rem;\n      border-bottom-right-radius: 50%;\n    }\n\n    50% {\n      width: 1.25rem;\n      border-bottom-right-radius: 40%;\n    }\n\n    90% {\n      width: 0.75rem;\n      border-bottom-right-radius: 50%;\n      clip-path: inset(0 0 0 48%);\n    }\n  }\n\n  .bottom-cloth-costura {\n    position: absolute;\n    left: 0;\n    bottom: 0.125rem;\n    width: 100%;\n    height: 50%;\n  }\n\n  .bottom-cloth-costura::before {\n    content: '';\n    display: block;\n    height: 0.25rem;\n    width: 50%;\n    background-image: linear-gradient(0.25turn,\n        var(--thread),\n        var(--thread) 2rem,\n        transparent 2rem);\n    background-size: 6rem 0.125rem;\n    background-position: 2rem;\n    background-repeat: repeat-x;\n    animation: stitchline var(--needle-duration) infinite ease-out;\n  }\n\n  @keyframes stitchline {\n    0% {\n      background-position: 2rem;\n    }\n\n    50% {\n      background-position: 0rem;\n    }\n\n    100% {\n      background-position: -2rem;\n    }\n  }\n\n  .bottom-cloth-costura::after {\n    content: '';\n    display: block;\n    width: 100%;\n    height: 49%;\n    bottom: 0;\n    animation: stitchingHole var(--needle-duration) infinite ease-in;\n  }\n\n  @keyframes stitchingHole {\n    0% {\n      background-image: radial-gradient(ellipse at 50% 0%, transparent, transparent 0.225rem, #c45d49 0.275rem, var(--bottom-cloth) 0.275rem);\n    }\n\n    50% {\n      background-image: none;\n    }\n\n    100% {\n      background-image: radial-gradient(ellipse at 50% 0%, transparent, transparent 0.2rem, #c45d49 0.25rem, var(--bottom-cloth) 0.25rem);\n    }\n  }\n\n  /* INSPECCIÓN - Lupa (MÁS GRANDE Y CON MANGO CORRECTO) */\n  .container-inspeccion {\n    position: relative;\n    width: 180px;\n    /* Aumentado */\n    height: 180px;\n    /* Aumentado */\n    overflow: hidden;\n    border: 2px solid #fff;\n    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);\n    box-sizing: border-box;\n  }\n\n  .fabric-image-inspeccion {\n    width: 100%;\n    height: 100%;\n    display: block;\n    background-color: #1a237e;\n    background-image: repeating-linear-gradient(45deg,\n        rgba(255, 255, 255, 0.07) 0,\n        rgba(255, 255, 255, 0.07) 3px,\n        transparent 3px,\n        transparent 7px),\n      repeating-linear-gradient(-45deg,\n        rgba(0, 0, 0, 0.15) 0,\n        rgba(0, 0, 0, 0.15) 3px,\n        transparent 3px,\n        transparent 7px);\n    background-size: 14px 14px;\n  }\n\n  .magnifying-glass-inspeccion {\n    position: absolute;\n    transform: translate(-50%, -50%);\n    background-color: #5c5c5c;\n    border-radius: 50%;\n    width: 70px;\n    /* Aumentado */\n    height: 70px;\n    /* Aumentado */\n    pointer-events: none;\n    overflow: hidden;\n    background-repeat: no-repeat;\n    display: block;\n    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);\n    z-index: 10;\n    box-sizing: border-box;\n    animation: moveLupa 8s linear infinite;\n  }\n\n  .magnifying-glass-inspeccion::before {\n    content: '';\n    position: absolute;\n    top: 3px;\n    /* Ajustado */\n    left: 3px;\n    /* Ajustado */\n    right: 3px;\n    /* Ajustado */\n    bottom: 3px;\n    /* Ajustado */\n    border-radius: 50%;\n    background-color: rgba(255, 255, 255, 0.6);\n    background-image: radial-gradient(circle at 35% 35%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 60%);\n    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);\n  }\n\n.mg-handle-inspeccion {\n    position: absolute;\n    width: 10px;\n    height: 50px;\n    background: linear-gradient(180deg, #f0b56a, #cf8b3a);\n    border-radius: 5px;\n    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.35);\n    pointer-events: none;\n    z-index: 9;\n    /* ¡Cambiado! El punto de rotación es el centro superior del mango */\n    transform-origin: 50% 0%;\n    animation: moveHandle 8s linear infinite;\n  }\n\n  @keyframes moveLupa {\n    0% {\n      left: 15%;\n      top: 15%;\n    }\n\n    25% {\n      left: 85%;\n      top: 15%;\n    }\n\n    50% {\n    left: 85%;\n    top: 85%;\n    }\n    \n    75% {\n    left: 15%;\n    top: 85%;\n    }\n    \n    100% {\n    left: 15%;\n    top: 15%;\n    }\n  }\n\n@keyframes moveHandle {\n    0% {\n      left: 15%;\n      top: 15%;\n      /* Apunta hacia abajo a la derecha: 135deg */\n      transform: rotate(135deg);\n    }\n\n    25% {\n      left: 85%;\n      top: 15%;\n      /* Apunta hacia abajo a la izquierda: 225deg */\n      transform: rotate(225deg);\n    }\n\n    50% {\n      left: 85%;\n      top: 85%;\n      /* Apunta hacia arriba a la izquierda: 315deg */\n      transform: rotate(315deg);\n    }\n     \n   75% {\n      left: 15%;\n      top: 85%;\n      /* Apunta hacia arriba a la derecha: 45deg */\n      transform: rotate(45deg);\n    }\n\n    100% {\n      left: 15%;\n      top: 15%;\n      /* Debe terminar en la misma rotación de 135deg, pero para que la animación sea continua\n        y no de un salto visual de 45deg a 135deg, podemos usar un valor equivalente.\n        Sin embargo, en un movimiento cuadrado, es mejor mantenerlo simple. */\n      transform: rotate(135deg);\n    }\n  }\n\n  /* PARADA - Alerta (MÁS GRANDE Y CON FONDO TRANSPARENTE) */\n  .aquarium-parada {\n    position: relative;\n    overflow: hidden;\n    background: transparent;\n    /* Fondo transparente */\n    width: 200px;\n    /* Aumentado */\n    height: 200px;\n    /* Aumentado */\n    margin: auto;\n  }\n\n  .aquarium-parada *,\n  .aquarium-parada *::before,\n  .aquarium-parada *::after {\n    position: absolute;\n    content: '';\n  }\n\n  .aquarium__table-parada {\n    left: 57px;\n    /* Ajustado */\n    top: 152px;\n    /* Ajustado */\n    width: 86px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    border-radius: 1px;\n    background: black;\n  }\n\n  .aquarium__table-parada:before {\n    left: 26px;\n    /* Ajustado */\n    top: -6px;\n    /* Ajustado */\n    width: 33px;\n    /* Aumentado */\n    height: 7px;\n    /* Aumentado */\n    box-sizing: border-box;\n    border-radius: 3px;\n    border: 1px solid black;\n    background: #FF5733;\n  }\n\n  .aquarium__aquarium-parada {\n    left: 74px;\n    /* Ajustado */\n    top: 89px;\n    /* Ajustado */\n    width: 53px;\n    /* Aumentado */\n    height: 37px;\n    /* Aumentado */\n    box-sizing: border-box;\n    border: 1px solid black;\n    border-radius: 10px 10px 12px 12px / 19px 19px 19px 19px;\n    /* Ajustado */\n    box-shadow: inset -7px 0 0 0 rgba(139, 0, 0, 0.2);\n    /* Ajustado */\n    overflow: hidden;\n    z-index: 1;\n  }\n\n  .aquarium__water-parada {\n    left: 0;\n    top: 10px;\n    /* Ajustado */\n    width: 100%;\n    height: 100%;\n    opacity: .7;\n    background: #E74C3C;\n    animation: sponge-water 2.5s linear infinite;\n  }\n\n  .aquarium__drops-parada {\n    top: 36px;\n    /* Ajustado */\n    left: 76px;\n    /* Ajustado */\n    width: 47px;\n    /* Aumentado */\n    height: 31px;\n    /* Aumentado */\n    overflow: hidden;\n  }\n\n  .aquarium__drop-parada {\n    top: 24px;\n    /* Ajustado */\n    left: 23px;\n    /* Ajustado */\n    width: 2px;\n    /* Aumentado */\n    height: 2px;\n    /* Aumentado */\n    border-radius: 100%;\n    background: #FF0000;\n    animation: sponge-drop 2.5s linear infinite;\n  }\n\n  .aquarium__water-column-parada {\n    top: 30px;\n    /* Ajustado */\n    left: 17px;\n    /* Ajustado */\n    width: 14px;\n    /* Aumentado */\n    height: 33px;\n    /* Aumentado */\n    opacity: .5;\n    background: #E74C3C;\n    animation: sponge-water-column 2.5s linear infinite;\n  }\n\n  .aquarium__bubble-parada:nth-child(2),\n  .aquarium__bubble-parada:nth-child(3),\n  .aquarium__bubble-parada:nth-child(4),\n  .aquarium__bubble-parada:nth-child(5),\n  .aquarium__bubble-parada:nth-child(6),\n  .aquarium__bubble-parada:nth-child(7),\n  .aquarium__bubble-parada:nth-child(8),\n  .aquarium__bubble-parada:nth-child(9) {\n    width: 3px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    background: white;\n    border-radius: 100%;\n    transform: scale(1);\n    z-index: 2;\n  }\n\n  .aquarium__bubble-parada:nth-child(2) {\n    left: 7px;\n    top: 6px;\n    animation: sponge-bubble-1 2.5s linear infinite;\n  }\n\n  .aquarium__bubble-parada:nth-child(3) {\n    left: 35px;\n    top: 21px;\n    animation: sponge-bubble-2 2.5s linear infinite;\n  }\n\n  .aquarium__bubble-parada:nth-child(4) {\n    left: 34px;\n    top: 14px;\n    animation: sponge-bubble-3 2.5s linear infinite;\n  }\n\n  .aquarium__bubble-parada:nth-child(5) {\n    left: 12px;\n    top: 17px;\n    animation: sponge-bubble-4 2.5s linear infinite;\n  }\n\n  .aquarium__bubble-parada:nth-child(6) {\n    left: 12px;\n    top: 23px;\n    animation: sponge-bubble-5 2.5s linear infinite;\n  }\n\n  .aquarium__bubble-parada:nth-child(7) {\n    left: 35px;\n    top: 23px;\n    animation: sponge-bubble-6 2.5s linear infinite;\n  }\n\n  .aquarium__bubble-parada:nth-child(8) {\n    left: 34px;\n    top: 23px;\n    animation: sponge-bubble-7 2.5s linear infinite;\n  }\n\n  .aquarium__bubble-parada:nth-child(9) {\n    left: 12px;\n    top: 20px;\n    animation: sponge-bubble-8 2.5s linear infinite;\n  }\n\n  .aquarium__splash-parada:nth-child(3) {\n    top: 21px;\n    /* Ajustado */\n    left: 7px;\n    /* Ajustado */\n    height: 2px;\n    /* Aumentado */\n    width: 1px;\n    /* Aumentado */\n    border-radius: 0.5px;\n    opacity: .5;\n    background: #E74C3C;\n    animation: sponge-splash-1 2.5s linear infinite;\n  }\n\n  .aquarium__splash-parada:nth-child(3):before {\n    top: 6px;\n    /* Ajustado */\n    left: -6px;\n    /* Ajustado */\n    height: 1px;\n    /* Aumentado */\n    width: 2px;\n    /* Aumentado */\n    border-radius: 0.5px;\n    background: #E74C3C;\n  }\n\n  .aquarium__splash-parada:nth-child(3):after {\n    top: 6px;\n    /* Ajustado */\n    left: 5px;\n    /* Ajustado */\n    height: 1px;\n    /* Aumentado */\n    width: 2px;\n    /* Aumentado */\n    border-radius: 0.5px;\n    background: #E74C3C;\n  }\n\n  .aquarium__splash-parada:nth-child(4) {\n    top: 21px;\n    /* Ajustado */\n    left: 39px;\n    /* Ajustado */\n    height: 2px;\n    /* Aumentado */\n    width: 1px;\n    /* Aumentado */\n    border-radius: 0.5px;\n    opacity: .5;\n    background: #E74C3C;\n    animation: sponge-splash-2 2.5s linear infinite;\n  }\n\n  .aquarium__splash-parada:nth-child(4):before {\n    top: 6px;\n    /* Ajustado */\n    left: -6px;\n    /* Ajustado */\n    height: 1px;\n    /* Aumentado */\n    width: 2px;\n    /* Aumentado */\n    border-radius: 0.5px;\n    background: #E74C3C;\n  }\n\n  .aquarium__splash-parada:nth-child(4):after {\n    top: 6px;\n    /* Ajustado */\n    left: 5px;\n    /* Ajustado */\n    height: 1px;\n    /* Aumentado */\n    width: 2px;\n    /* Aumentado */\n    border-radius: 0.5px;\n    background: #E74C3C;\n  }\n\n  .aquarium__sponge-box-parada {\n    width: 21px;\n    /* Aumentado */\n    height: 27px;\n    /* Aumentado */\n    left: 90px;\n    /* Ajustado */\n    top: 93px;\n    /* Ajustado */\n    animation: sponge-box 2.5s linear infinite;\n    z-index: 5;\n  }\n\n  .aquarium__body-parada {\n    width: 100%;\n    height: 100%;\n    box-sizing: border-box;\n    box-shadow: inset 0 0 0 1px black, inset -2px 0 0 1px rgba(139, 0, 0, 0.6);\n    border-radius: 0px;\n    background: #FF0000;\n    overflow: hidden;\n    animation: sponge-body 2.5s linear infinite;\n  }\n\n  .aquarium__body-parada:before {\n    top: 16px;\n    /* Ajustado */\n    left: 17px;\n    /* Ajustado */\n    width: 6px;\n    /* Aumentado */\n    height: 6px;\n    /* Aumentado */\n    box-sizing: border-box;\n    background: white;\n    border-radius: 100%;\n    border: 1px solid black;\n  }\n\n  .aquarium__body-parada:after {\n    top: 24px;\n    /* Ajustado */\n    left: 3px;\n    /* Ajustado */\n    width: 6px;\n    /* Aumentado */\n    height: 6px;\n    /* Aumentado */\n    box-sizing: border-box;\n    background: white;\n    border-radius: 100%;\n    border: 1px solid black;\n  }\n\n  .aquarium__body-hole-parada {\n    width: 5px;\n    /* Aumentado */\n    height: 5px;\n    /* Aumentado */\n    left: -1px;\n    /* Ajustado */\n    top: 17px;\n    /* Ajustado */\n    border-radius: 2px;\n    background: rgba(0, 0, 0, 0.1);\n  }\n\n  .aquarium__body-hole-parada:before {\n    width: 4px;\n    /* Aumentado */\n    height: 4px;\n    /* Aumentado */\n    left: 17px;\n    /* Ajustado */\n    top: -12px;\n    /* Ajustado */\n    border-radius: 100%;\n    background: rgba(0, 0, 0, 0.1);\n  }\n\n  .aquarium__body-hole-parada:after {\n    width: 3px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    left: 14px;\n    /* Ajustado */\n    top: 5px;\n    /* Ajustado */\n    border-radius: 100%;\n    background: rgba(0, 0, 0, 0.1);\n  }\n\n  .aquarium__body-stripe-parada {\n    width: 6px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    left: 11px;\n    /* Ajustado */\n    top: 0;\n    border-radius: 0 3px 0 0;\n    border-top: 1px solid black;\n    border-right: 1px solid black;\n  }\n\n  .aquarium__body-stripe-parada:before {\n    width: 1px;\n    height: 3px;\n    /* Aumentado */\n    left: 6px;\n    /* Ajustado */\n    top: 3px;\n    /* Ajustado */\n    border-radius: 0.5px;\n    background: black;\n  }\n\n  .aquarium__face-parada {\n    width: 11px;\n    /* Aumentado */\n    height: 14px;\n    /* Aumentado */\n    left: 5px;\n    /* Ajustado */\n    top: 11px;\n    /* Ajustado */\n  }\n\n  .aquarium__face-parada:before {\n    width: 2px;\n    /* Aumentado */\n    height: 2px;\n    /* Aumentado */\n    border-radius: 100%;\n    background: black;\n    animation: sponge-eye 2.5s linear infinite;\n  }\n\n  .aquarium__face-parada:after {\n    left: 9px;\n    /* Ajustado */\n    top: 0px;\n    width: 2px;\n    /* Aumentado */\n    height: 2px;\n    /* Aumentado */\n    border-radius: 100%;\n    background: black;\n    animation: sponge-eye 2.5s linear infinite;\n  }\n\n  .aquarium__mouth-parada {\n    left: 3px;\n    /* Ajustado */\n    top: 3px;\n    /* Ajustado */\n    width: 5px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    box-sizing: border-box;\n    border-radius: 1px 1px 3px 3px;\n    border: 1px solid black;\n    border-top-width: 2px;\n    /* Ajustado */\n    background: red;\n    animation: sponge-mouth 2.5s linear infinite;\n  }\n\n  .aquarium__smile-parada {\n    left: 6px;\n    /* Ajustado */\n    top: 3px;\n    /* Ajustado */\n    animation: sponge-smile 2.5s linear infinite;\n  }\n\n  .aquarium__smile-parada:before {\n    left: -3px;\n    /* Ajustado */\n    width: 1px;\n    height: 1px;\n    border-radius: 0 0 0 1px;\n    border-bottom: 1px solid black;\n    border-left: 1px solid black;\n    transform: rotate(-45deg);\n  }\n\n  .aquarium__smile-parada:after {\n    left: -1px;\n    /* Ajustado */\n    width: 1px;\n    height: 1px;\n    border-radius: 0 0 0 1px;\n    border-bottom: 1px solid black;\n    border-left: 1px solid black;\n    transform: rotate(-45deg);\n  }\n\n  .aquarium__danger-sign-parada {\n    position: absolute;\n    bottom: -4px;\n    /* Ajustado */\n    left: 50%;\n    transform: translateX(-50%);\n    width: 6px;\n    /* Aumentado */\n    height: 6px;\n    /* Aumentado */\n    background: #FFD700;\n    border: 1px solid black;\n    border-radius: 1px;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    font-size: 4px;\n    /* Aumentado */\n    font-weight: bold;\n    color: black;\n    animation: danger-sign-animation 2.5s linear infinite;\n    opacity: 0;\n  }\n\n  .aquarium__stop-text-parada {\n    top: 37px;\n    /* Ajustado */\n    left: 50%;\n    transform: translateX(-50%);\n    z-index: 10;\n    font-size: 13px;\n    /* Aumentado */\n    font-weight: 900;\n    color: #FFFFFF;\n    background: #FF0000;\n    padding: 1px 4px;\n    /* Ajustado */\n    border-radius: 3px;\n    /* Ajustado */\n    border: 1px solid black;\n    text-shadow: 0.5px 0.5px 0 black;\n    animation: stop-text 2.5s linear infinite;\n    opacity: 0;\n  }\n\n  @keyframes stop-text {\n    0% {\n      opacity: 0;\n      transform: translate(-50%, 0px) scale(0.5);\n    }\n\n    9.36% {\n      opacity: 0;\n      transform: translate(-50%, 0px) scale(0.5);\n    }\n\n    9.37% {\n      opacity: 1;\n      transform: translate(-50%, -6px) scale(1);\n    }\n\n    78% {\n      opacity: 1;\n      transform: translate(-50%, -6px) scale(1);\n    }\n\n    78.01% {\n      opacity: 1;\n    }\n\n    85.8% {\n      opacity: 0;\n      transform: translate(-50%, 0px) scale(0.5);\n    }\n\n    100% {\n      opacity: 0;\n      transform: translate(-50%, 0px) scale(0.5);\n    }\n  }\n\n  @keyframes danger-sign-animation {\n    0% {\n      opacity: 0;\n      transform: translate(-50%, 3px) scale(0.5);\n    }\n\n    9.36% {\n      opacity: 0;\n      transform: translate(-50%, 3px) scale(0.5);\n    }\n\n    9.37% {\n      opacity: 1;\n      transform: translate(-50%, 0px) scale(1);\n    }\n\n    78% {\n      opacity: 1;\n      transform: translate(-50%, 0px) scale(1);\n    }\n\n    78.01% {\n      opacity: 1;\n    }\n\n    85.8% {\n      opacity: 0;\n      transform: translate(-50%, 3px) scale(0.5);\n    }\n\n    100% {\n      opacity: 0;\n      transform: translate(-50%, 3px) scale(0.5);\n    }\n  }\n\n  @keyframes sponge-splash-1 {\n    0% {\n      transform: scale(0) translateY(7px);\n    }\n\n    9.01% {\n      transform: scale(0) translateY(7px);\n    }\n\n    16.84% {\n      transform: scale(1) translateY(0);\n    }\n\n    16.9% {\n      transform: scale(0) translateY(0);\n    }\n\n    72.64% {\n      transform: scale(0) translateY(7px);\n    }\n\n    81.44% {\n      transform: scale(1) translateY(0);\n    }\n\n    81.5% {\n      transform: scale(0) translateY(0);\n    }\n\n    100% {\n      transform: scale(0) translateY(7px);\n    }\n  }\n\n  @keyframes sponge-splash-2 {\n    0% {\n      transform: scale(0) translateY(7px);\n    }\n\n    14.4% {\n      transform: scale(0) translateY(7px);\n    }\n\n    20.64% {\n      transform: scale(1) translateY(0);\n    }\n\n    20.7% {\n      transform: scale(0) translateY(0);\n    }\n\n    77% {\n      transform: scale(0) translateY(7px);\n    }\n\n    83.24% {\n      transform: scale(1) translateY(0);\n    }\n\n    83.3% {\n      transform: scale(0) translateY(7px);\n    }\n\n    100% {\n      transform: scale(0) translateY(7px);\n    }\n  }\n\n  @keyframes sponge-bubble-1 {\n    0% {\n      transform: scale(0) translate(0, 0);\n    }\n\n    45.9% {\n      transform: scale(0) translate(2px, 4px);\n    }\n\n    46% {\n      transform: scale(0.2) translate(2px, 4px);\n    }\n\n    50% {\n      transform: scale(1) translate(4px, 8px);\n    }\n\n    50.1% {\n      transform: scale(0) translate(4px, 8px);\n    }\n\n    100% {\n      transform: scale(0) translate(0, 0);\n    }\n  }\n\n  @keyframes sponge-bubble-2 {\n    0% {\n      transform: scale(0) translate(0, 0);\n    }\n\n    47.9% {\n      transform: scale(0) translate(0, 0);\n    }\n\n    48% {\n      transform: scale(0.2) translate(0, 0);\n    }\n\n    52% {\n      transform: scale(1) translate(6px, -14px);\n    }\n\n    52.1% {\n      transform: scale(0) translate(6px, -14px);\n    }\n\n    100% {\n      transform: scale(0) translate(0, 0);\n    }\n  }\n\n  @keyframes sponge-bubble-3 {\n    0% {\n      transform: scale(0) translate(0, 0);\n    }\n\n    50.9% {\n      transform: scale(0) translate(0, 0);\n    }\n\n    51% {\n      transform: scale(0.2) translate(0, 0);\n    }\n\n    55% {\n      transform: scale(1) translate(4px, -8px);\n    }\n\n    55.1% {\n      transform: scale(0) translate(4px, -8px);\n    }\n\n    100% {\n      transform: scale(0) translate(0, 0);\n    }\n  }\n\n  @keyframes sponge-bubble-4 {\n    0% {\n      transform: scale(0) translate(0, 0);\n    }\n\n    52.9% {\n      transform: scale(0) translate(0, 0);\n    }\n\n    53% {\n      transform: scale(0.2) translate(0, 0);\n    }\n\n    57% {\n      transform: scale(1) translate(-3px, -10px);\n    }\n\n    57.1% {\n      transform: scale(0) translate(-3px, -10px);\n    }\n\n    100% {\n      transform: scale(0) translate(0, 0);\n    }\n  }\n\n  @keyframes sponge-bubble-5 {\n    0% {\n      transform: scale(0) translate(0, 0);\n    }\n\n    54.9% {\n      transform: scale(0) translate(0, 0);\n    }\n\n    55% {\n      transform: scale(0.2) translate(0, 0);\n    }\n\n    60% {\n      transform: scale(1) translate(-4px, -16px);\n    }\n\n    60.1% {\n      transform: scale(0) translate(-4px, -16px);\n    }\n\n    100% {\n      transform: scale(0) translate(0, 0);\n    }\n  }\n\n  @keyframes sponge-bubble-6 {\n    0% {\n      transform: scale(0) translate(0, 0);\n    }\n\n    57.9% {\n      transform: scale(0) translate(0, 0);\n    }\n\n    58% {\n      transform: scale(0.2) translate(0, 0);\n    }\n\n    62% {\n      transform: scale(1) translate(-1px, -16px);\n    }\n\n    62.1% {\n      transform: scale(0) translate(-1px, -16px);\n    }\n\n    100% {\n      transform: scale(0) translate(0, 0);\n    }\n  }\n\n  @keyframes sponge-bubble-7 {\n    0% {\n      transform: scale(0) translate(0, 0);\n    }\n\n    60.9% {\n      transform: scale(0) translate(0, 0);\n    }\n\n    61% {\n      transform: scale(0.2) translate(0, 0);\n    }\n\n    65% {\n      transform: scale(1) translate(5px, -16px);\n    }\n\n    65.1% {\n      transform: scale(0) translate(5px, -16px);\n    }\n\n    100% {\n      transform: scale(0) translate(0, 0);\n    }\n  }\n\n  @keyframes sponge-bubble-8 {\n    0% {\n      transform: scale(0) translate(0, 0);\n    }\n\n    62.9% {\n      transform: scale(0) translate(0, 0);\n    }\n\n    63% {\n      transform: scale(0.2) translate(0, 0);\n    }\n\n    67% {\n      transform: scale(1) translate(-2px, -14px);\n    }\n\n    67.9% {\n      transform: scale(0) translate(-2px, -14px);\n    }\n\n    100% {\n      transform: scale(0) translate(0, 0);\n    }\n  }\n\n  @keyframes sponge-eye {\n    9.36% {\n      transform: scale(1);\n    }\n\n    9.37% {\n      transform: scale(0);\n    }\n\n    14.0% {\n      transform: scale(0);\n    }\n\n    14.01% {\n      transform: scale(1);\n    }\n  }\n\n  @keyframes sponge-mouth {\n    0% {\n      border-radius: 1px 1px 3px 3px;\n      transform: scale(1);\n      background: red;\n    }\n\n    9.36% {\n      border-radius: 1px 1px 3px 3px;\n      transform: scale(0);\n      background: red;\n    }\n\n    28.08% {\n      border-radius: 100%;\n      transform: scale(0);\n      background: black;\n    }\n\n    40.56% {\n      border-radius: 100%;\n      transform: scaleY(1.4);\n      background: black;\n    }\n\n    42.12% {\n      border-radius: 100%;\n      transform: scaleY(1.4);\n      background: black;\n    }\n\n    48.36% {\n      border-radius: 100%;\n      transform: scale(0);\n      background: black;\n    }\n\n    76.4% {\n      border-radius: 1px 1px 3px 3px;\n      transform: scale(0);\n      background: red;\n    }\n\n    76.44% {\n      border-radius: 1px 1px 3px 3px;\n      transform: scale(0.3);\n      background: red;\n    }\n\n    93.6% {\n      border-radius: 1px 1px 3px 3px;\n      transform: scale(1);\n      background: red;\n    }\n\n    100% {\n      border-radius: 1px 1px 3px 3px;\n      transform: scale(1);\n      background: red;\n    }\n  }\n\n  @keyframes sponge-smile {\n\n    0%,\n    48.2% {\n      opacity: 0;\n    }\n\n    48.36%,\n    76.44% {\n      opacity: 1;\n    }\n\n    76.5%,\n    100% {\n      opacity: 0;\n    }\n  }\n\n  @keyframes sponge-water {\n    6.24% {\n      transform: translateY(0);\n    }\n\n    12.48% {\n      transform: translateY(-3px);\n    }\n\n    78% {\n      transform: translateY(-3px);\n    }\n\n    85.8% {\n      transform: translateY(0);\n    }\n  }\n\n  @keyframes sponge-drop {\n    0% {\n      transform: scale(0) translate(0, 6px);\n    }\n\n    7% {\n      transform: scale(0) translate(0, 6px);\n    }\n\n    15.44% {\n      transform: scale(2) translate(0, -9px);\n    }\n\n    27.8% {\n      transform: scale(0) translate(0, 6px);\n    }\n\n    100% {\n      transform: scale(0) translate(0, 6px);\n    }\n  }\n\n  @keyframes sponge-water-column {\n    0% {\n      transform: scaleX(0) translateY(4px);\n    }\n\n    7.8% {\n      transform: scaleX(1) translateY(4px);\n    }\n\n    18.72% {\n      transform: scaleX(0.1) translateY(-3px);\n    }\n\n    29.64% {\n      transform: scaleX(0.3) translateY(7px);\n    }\n\n    81.12% {\n      transform: scaleX(1.4) translateY(7px);\n    }\n\n    95.16% {\n      transform: scaleX(0) translateY(-33px);\n    }\n\n    100% {\n      transform: scaleX(0) translateY(-33px);\n    }\n  }\n\n  @keyframes sponge-box {\n    0% {\n      transform: translateY(-36px);\n    }\n\n    9.36% {\n      transform: translateY(4px);\n    }\n\n    18.72% {\n      transform: translateY(-1px);\n    }\n\n    28.08% {\n      transform: translateY(-2px);\n    }\n\n    43.68% {\n      transform: translateY(0px);\n    }\n\n    60.84% {\n      transform: translateY(3px);\n    }\n\n    78% {\n      transform: translateY(3px);\n    }\n\n    85.8% {\n      transform: translateY(-36px);\n    }\n\n    93.6% {\n      transform: translateY(-49px);\n    }\n\n    100% {\n      transform: translateY(-41px);\n    }\n  }\n\n  @keyframes sponge-body {\n    0% {\n      transform: rotate(-134deg) scale(1) translateX(0);\n    }\n\n    9.36% {\n      transform: rotate(0deg) scale(1) translateX(0);\n    }\n\n    48.36% {\n      transform: rotate(0deg) scale(1) translateX(0);\n    }\n\n    59.28% {\n      transform: rotate(0deg) scale(0.95) translateX(0);\n    }\n\n    60.84% {\n      transform: rotate(0deg) scale(0.9) translateX(-0.2px);\n    }\n\n    62.4% {\n      transform: rotate(0deg) scale(0.9) translateX(-0.5px);\n    }\n\n    65.52% {\n      transform: rotate(0deg) scale(0.9) translateX(0.5px);\n    }\n\n    68.64% {\n      transform: rotate(0deg) scale(0.9) translateX(-0.5px);\n    }\n\n    71.76% {\n      transform: rotate(0deg) scale(0.9) translateX(0.9px);\n    }\n\n    74.88% {\n      transform: rotate(0deg) scale(0.9) translateX(-0.9px);\n    }\n\n    78% {\n      transform: rotate(0deg) scale(0.9) translateX(0);\n    }\n\n    85.8% {\n      transform: rotate(135deg) scale(1) translateX(0);\n    }\n\n    93.6% {\n      transform: rotate(180deg) scale(1) translateX(0);\n    }\n\n    100% {\n      transform: rotate(210deg) scale(1) translateX(0);\n    }\n  }\n\n  /* ESPERANDO - Pausa (MÁS GRANDE Y PERSONA MÁS ARRIBA) */\n  :root {\n    --body-bg: #f5f5f5;\n    --bed-frame-color: #d4a574;\n    --pillow-color: #ffffff;\n    --sheet-color: #f0f0f0;\n    --sleeper-color: #3498db;\n    --head-color: #f7d2b2;\n    --hair-color: #7b5804;\n    --shadow-light: rgba(0, 0, 0, 0.1);\n    --shadow-dark: rgba(0, 0, 0, 0.2);\n    --zzz-color: #555;\n    --zzz-bg-color: rgba(255, 255, 255, 0.8);\n  }\n\n  .sleep-scene-esperando {\n    position: relative;\n    width: 180px;\n    /* Aumentado */\n    height: 140px;\n    /* Aumentado */\n  }\n\n  .bed-esperando {\n    position: absolute;\n    bottom: 20px;\n    /* Ajustado */\n    left: 50%;\n    transform: translateX(-50%);\n    width: 160px;\n    /* Aumentado */\n    height: 70px;\n    /* Aumentado */\n    background: var(--bed-frame-color);\n    border-radius: 4px;\n    box-shadow: 0 5px 12px var(--shadow-dark);\n    z-index: 0;\n  }\n\n  .bed-surface-esperando {\n    position: absolute;\n    top: 3px;\n    /* Ajustado */\n    left: 3px;\n    /* Ajustado */\n    width: calc(100% - 6px);\n    height: calc(100% - 6px);\n    background: var(--sheet-color);\n    border-radius: 3px;\n    box-shadow: inset 0 1px 3px var(--shadow-light);\n  }\n\n  .pillow-esperando {\n    position: absolute;\n    top: 3px;\n    /* Ajustado */\n    left: 6px;\n    /* Ajustado */\n    width: 25px;\n    /* Aumentado */\n    height: 55px;\n    /* Aumentado */\n    background: var(--pillow-color);\n    border-radius: 3px;\n    box-shadow: 0 1px 3px var(--shadow-light);\n    z-index: 1;\n  }\n\n  .sleeper-esperando {\n    position: absolute;\n    top: 40px;\n    /* Ajustado (más arriba) */\n    left: 35px;\n    /* Ajustado */\n    z-index: 2;\n  }\n\n  .sleeper-body-esperando {\n    width: 120px;\n    /* Aumentado */\n    height: 65px;\n    /* Aumentado */\n    background: var(--sleeper-color);\n    border-radius: 5px;\n    box-shadow: 0 2px 5px var(--shadow-dark);\n    position: absolute;\n    top: 3px;\n    /* Ajustado */\n    left: 40px;\n    /* Ajustado */\n  }\n\n  .folded-sheet-esperando {\n    position: absolute;\n    top: 0;\n    left: -3px;\n    /* Ajustado */\n    width: 9px;\n    /* Aumentado */\n    height: 90%;\n    background-color: color-mix(in srgb, var(--sleeper-color), black 10%);\n    border-radius: 5px 0 0 5px;\n    box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.1);\n  }\n\n  .sleeper-head-esperando {\n    width: 40px;\n    /* Aumentado */\n    height: 40px;\n    /* Aumentado */\n    background: var(--head-color);\n    border-radius: 50%;\n    position: absolute;\n    top: 10px;\n    /* Ajustado */\n    left: 0px;\n    box-shadow: 0 1px 4px var(--shadow-light);\n    z-index: 3;\n    transform: rotate(-90deg);\n    transform-origin: center center;\n  }\n\n  .sleeper-hair-esperando {\n    width: 42px;\n    /* Aumentado */\n    height: 22px;\n    /* Aumentado */\n    background: var(--hair-color);\n    border-radius: 50% / 100% 100% 0 0;\n    position: absolute;\n    top: -3px;\n    /* Ajustado */\n    left: -1px;\n    z-index: 4;\n    box-shadow: 0 1px 2px var(--shadow-light);\n  }\n\n  .zzz-group-esperando {\n    position: absolute;\n    top: -15px;\n    /* Ajustado */\n    left: 15px;\n    /* Ajustado */\n    pointer-events: none;\n  }\n\n  .zzz-esperando {\n    position: absolute;\n    font-size: 16px;\n    /* Aumentado */\n    font-weight: bold;\n    color: var(--zzz-color);\n    background: var(--zzz-bg-color);\n    padding: 2px 5px;\n    /* Ajustado */\n    border-radius: 3px;\n    /* Ajustado */\n    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);\n    opacity: 0;\n    animation: float-zzz 3.5s ease-out infinite;\n    white-space: nowrap;\n  }\n\n  .zzz-esperando:nth-child(1) {\n    animation-delay: 0s;\n    left: 0px;\n    top: 0px;\n  }\n\n  .zzz-esperando:nth-child(2) {\n    animation-delay: 1.1s;\n    left: 22px;\n    top: -10px;\n  }\n\n  .zzz-esperando:nth-child(3) {\n    animation-delay: 2.2s;\n    left: 44px;\n    top: -20px;\n  }\n\n  @keyframes float-zzz {\n    0% {\n      transform: translateY(0px) scale(0.7);\n      opacity: 0;\n    }\n\n    20% {\n      transform: translateY(-8px) scale(0.9);\n      opacity: 0.8;\n    }\n\n    60% {\n      transform: translateY(-20px) scale(1.0);\n      opacity: 0.6;\n    }\n\n    100% {\n      transform: translateY(-40px) scale(0.5);\n      opacity: 0;\n    }\n  }\n\n  /* SIN PERSONAL - Usuario tachado (MÁS GRANDE) */\n  .scene-sin_personal {\n    width: 180px;\n    /* Aumentado */\n    height: 180px;\n    /* Aumentado */\n    position: relative;\n    overflow: hidden;\n    background-color: #3a3a3a;\n  }\n\n  .scene-sin_personal *,\n  .scene-sin_personal *::before,\n  .scene-sin_personal *::after {\n    position: absolute;\n    content: '';\n  }\n\n  .bookshelf-sin_personal {\n    top: 68px;\n    /* Ajustado */\n    left: 124px;\n    /* Ajustado */\n    width: 72px;\n    /* Aumentado */\n    height: 65px;\n    /* Aumentado */\n    background: linear-gradient(#4a4a4a 9%, #5a5a5a 9%, #5a5a5a 35%, #6a6a6a 35%, #6a6a6a 38%, #4a4a4a 38%, #4a4a4a 48%, #5a5a5a 48%, #5a5a5a 68%, #6a6a6a 68%, #6a6a6a 71.5%, #4a4a4a 72%, #4a4a4a 81%, #5a5a5a 81%);\n    border: 3px solid #6a6a6a;\n    /* Aumentado */\n  }\n\n  .bookshelf-sin_personal:before {\n    top: 3px;\n    /* Ajustado */\n    left: 37px;\n    /* Ajustado */\n    width: 6px;\n    /* Aumentado */\n    height: 20px;\n    /* Aumentado */\n    background: #8a8a8a;\n    box-shadow: -1px 0 0 0 #5a5a5a, inset 0 5px 0 2px #6a6a6a, inset 0 0 0 2px #6a6a6a;\n  }\n\n  .bookshelf-sin_personal:after {\n    top: 3px;\n    /* Ajustado */\n    left: 46px;\n    /* Ajustado */\n    width: 6px;\n    /* Aumentado */\n    height: 20px;\n    /* Aumentado */\n    background: #8a8a8a;\n    box-shadow: -1px 0 0 0 #6a6a6a, inset 0 5px 0 2px #7a7a7a, inset 0 0 0 2px #7a7a7a;\n  }\n\n  .photo-sin_personal {\n    top: 78px;\n    /* Ajustado */\n    left: 141px;\n    /* Ajustado */\n    width: 8px;\n    /* Aumentado */\n    height: 13px;\n    /* Aumentado */\n    background: #5a5a5a;\n    border: 2px solid #404040;\n    overflow: hidden;\n  }\n\n  .photo-sin_personal:before {\n    top: 3px;\n    /* Ajustado */\n    left: 2px;\n    /* Ajustado */\n    width: 4px;\n    /* Aumentado */\n    height: 4px;\n    /* Aumentado */\n    background: #7a7a7a;\n    border-radius: 50%;\n  }\n\n  .photo-sin_personal:after {\n    top: 8px;\n    /* Ajustado */\n    left: -1px;\n    /* Ajustado */\n    border-left: 4px solid transparent;\n    border-right: 3px solid transparent;\n    border-bottom: 4px solid #4a4a4a;\n    box-shadow: 4px 1px 0 -1px #4a4a4a;\n  }\n\n  .books-1-sin_personal {\n    top: 106px;\n    /* Ajustado */\n    left: 128px;\n    /* Ajustado */\n    width: 14px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    background: #6a6a6a;\n    box-shadow: 0 1px 0 0 #5a5a5a, 0 3px 0 0 #8a8a8a, 0 4px 0 0 #8a8a8a, 0 5px 0 0 #7a7a7a, 0 8px 0 0 #8a8a8a, 0 8px 0 0 #8a8a8a, 0 9px 0 0 #6a6a6a, 0 10px 0 0 #555555, 0 12px 0 0 #404040;\n  }\n\n  .books-1-sin_personal:before {\n    top: 3px;\n    /* Ajustado */\n    left: 10px;\n    /* Ajustado */\n    width: 2px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    background: #7a7a7a;\n  }\n\n  .books-1-sin_personal:after {\n    top: 9px;\n    /* Ajustado */\n    left: 2px;\n    /* Ajustado */\n    width: 10px;\n    /* Aumentado */\n    height: 1px;\n    /* Aumentado */\n    background: #6a6a6a;\n  }\n\n  .books-2-sin_personal {\n    top: 115px;\n    /* Ajustado */\n    left: 146px;\n    /* Ajustado */\n    width: 1px;\n    height: 6px;\n    /* Aumentado */\n    background: #404040;\n    box-shadow: 3px -1px 0 1px #6a6a6a,\n      6px -1px 0 1px #5a5a5a, 6px -3px 0 1px #5a5a5a,\n      8px -3px 0 1px #4a4a4a, 8px -1px 0 1px #4a4a4a,\n      12px -3px 0 2px #6a6a6a, 12px -4px 0 2px #6a6a6a,\n      17px -1px 0 1px #8a8a8a, 17px -6px 0 1px #8a8a8a,\n      18px -6px 0 1px #7a7a7a, 18px -1px 0 1px #7a7a7a,\n      22px -1px 0 1px #6a6a6a, 22px -8px 0 1px #6a6a6a,\n      23px -8px 0 1px #5a5a5a, 23px -1px 0 1px #5a5a5a,\n      26px 0px 0 0px #6a6a6a, 26px -8px 0 0px #6a6a6a, 26px -10px 0 0px #6a6a6a,\n      28px -10px 0 0px #5a5a5a, 28px -4px 0 0px #5a5a5a, 28px 0px 0 0px #5a5a5a,\n      30px -9px 0 0px #8a8a8a, 30px -3px 0 0px #8a8a8a,\n      35px -5px 0 5px #7a7a7a;\n  }\n\n  .books-2-sin_personal:before {\n    top: -3px;\n    /* Ajustado */\n    left: 6px;\n    /* Ajustado */\n    width: 3px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    background: #4a4a4a;\n    box-shadow: 4px -1px 0 0 #5a5a5a, 4px 6px 0 0 #5a5a5a,\n      5px -1px 0 0 #5a5a5a, 5px 6px 0 0 #5a5a5a,\n      9px 7px 0 0 #7a7a7a, 10px 7px 0 0 #7a7a7a,\n      10px -4px 0 0 #7a7a7a, 9px -4px 0 0 #7a7a7a,\n      13px -5px 0 0 #5a5a5a, 15px -5px 0 0 #5a5a5a,\n      15px 6px 0 0 #5a5a5a, 13px 6px 0 0 #5a5a5a,\n      18px 7px 0 0 #5a5a5a, 18px -8px 0 0 #5a5a5a;\n  }\n\n  .books-2-sin_personal:after {\n    top: 13px;\n    /* Ajustado */\n    left: 10px;\n    /* Ajustado */\n    width: 12px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    background: #6a6a6a;\n    box-shadow: 4px 0 0 0 #6a6a6a,\n      3px 1px 0 0 #5a5a6a,\n      3px 4px 0 0 #6a6a6a, 3px 5px 0 0 #6a6a6a,\n      0px 8px 0 0 #555555, 10px 8px 0 0 #555555, 15px 8px 0 0 #555555,\n      3px 9px 0 0 #404040, 13px 9px 0 0 #404040,\n      3px 12px 0 0 #555555, 13px 12px 0 0 #555555, 13px 13px 0 0 #555555, 3px 13px 0 0 #555555;\n  }\n\n  .books-3-sin_personal {\n    top: 129px;\n    /* Ajustado */\n    left: 128px;\n    /* Ajustado */\n    width: 6px;\n    /* Aumentado */\n    height: 15px;\n    /* Aumentado */\n    box-sizing: border-box;\n    background: #8a8a8a;\n    box-shadow: -1px 0 0 0 #5a5a5a, inset 0 6px 0 0 #6a6a6a, inset 0 0 0 2px #6a6a6a;\n  }\n\n  .books-3-sin_personal:before {\n    top: 0px;\n    left: 6px;\n    /* Ajustado */\n    width: 6px;\n    /* Aumentado */\n    height: 15px;\n    /* Aumentado */\n    box-sizing: border-box;\n    background: #8a8a8a;\n    box-shadow: -1px 0 0 0 #5a5a5a, inset 0 6px 0 0 #6a6a6a, inset 0 0 0 2px #6a6a6a;\n  }\n\n  .books-3-sin_personal:after {\n    top: 0px;\n    left: 14px;\n    /* Ajustado */\n    width: 6px;\n    /* Aumentado */\n    height: 15px;\n    /* Aumentado */\n    box-sizing: border-box;\n    background: #8a8a8a;\n    box-shadow: -1px 0 0 0 #6a6a6a, inset 0 6px 0 0 #8a8a8a, inset 0 0 0 2px #8a8a8a;\n  }\n\n  .commode-sin_personal {\n    top: 105px;\n    /* Ajustado */\n    left: 0px;\n    width: 60px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    background: #6a6a6a;\n  }\n\n  .commode-sin_personal:before {\n    top: 3px;\n    /* Ajustado */\n    left: 3px;\n    /* Ajustado */\n    width: 54px;\n    /* Aumentado */\n    height: 24px;\n    /* Aumentado */\n    background: #6a6a6a;\n    box-shadow: inset 0 3px 0 0 #5a5a5a;\n  }\n\n  .commode-sin_personal:after {\n    top: 27px;\n    /* Ajustado */\n    left: 3px;\n    /* Ajustado */\n    width: 3px;\n    /* Aumentado */\n    height: 12px;\n    /* Aumentado */\n    background: #6a6a6a;\n    box-shadow: 51px 0 0 0 #6a6a6a;\n  }\n\n  .commode__box-sin_personal {\n    top: 5px;\n    /* Ajustado */\n    left: 5px;\n    /* Ajustado */\n    width: 23px;\n    /* Aumentado */\n    height: 8px;\n    /* Aumentado */\n    background: #5a5a5a;\n    box-shadow: 0 1px 0 0 #4a4a4a, 26px 0 0 0 #5a5a5a, 26px 1px 0 0 #4a4a4a,\n      0 12px 0 0 #5a5a5a, 23px 12px 0 0 #5a5a5a, 26px 12px 0 0 #5a5a5a,\n      0 12px 0 0 #4a4a4a, 23px 12px 0 0 #4a4a4a, 26px 12px 0 0 #4a4a4a;\n  }\n\n  .commode__box-sin_personal:before {\n    top: 3px;\n    /* Ajustado */\n    left: 8px;\n    /* Ajustado */\n    width: 9px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    background: #8a8a8a;\n    box-shadow: 0 1px 0 0 #6a6a6a, 26px 0 0 0 #8a8a8a, 26px 1px 0 0 #6a6a6a, 13px 10px 0 0 #8a8a8a, 13px 11px 0 0 #6a6a6a;\n  }\n\n  .commode__box-sin_personal:after {\n    top: -17px;\n    /* Ajustado */\n    left: -3px;\n    /* Ajustado */\n    width: 24px;\n    /* Aumentado */\n    height: 10px;\n    /* Aumentado */\n    background: #555555;\n    border-radius: 3px 3px 0 0;\n    box-shadow: inset 0 4px 0 0 #6a6a6a;\n  }\n\n  .printer-sin_personal {\n    top: -10px;\n    /* Ajustado */\n    left: 5px;\n    /* Ajustado */\n    width: 3px;\n    /* Aumentado */\n    height: 1px;\n    background: #7a7a7a;\n  }\n\n  .printer-sin_personal:before {\n    top: 0px;\n    left: 4px;\n    /* Ajustado */\n    width: 1px;\n    height: 1px;\n    background: #6a6a6a;\n  }\n\n  .printer-sin_personal:after {\n    top: 5px;\n    /* Ajustado */\n    left: 4px;\n    /* Ajustado */\n    width: 10px;\n    /* Aumentado */\n    height: 2px;\n    /* Aumentado */\n    background: #6a6a6a;\n  }\n\n  .table-sin_personal {\n    top: 85px;\n    /* Ajustado */\n    left: 28px;\n    /* Ajustado */\n    width: 62px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    background: #8a8a8a;\n  }\n\n  .table-sin_personal:before {\n    top: 3px;\n    /* Ajustado */\n    left: 4px;\n    /* Ajustado */\n    width: 48px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    background: #404040;\n  }\n\n  .table-sin_personal:after {\n    top: 6px;\n    /* Ajustado */\n    left: 8px;\n    /* Ajustado */\n    width: 3px;\n    /* Aumentado */\n    height: 50px;\n    /* Aumentado */\n    background: #404040;\n  }\n\n  .table__leg-sin_personal {\n    top: 54px;\n    /* Ajustado */\n    left: 8px;\n    /* Ajustado */\n    width: 31px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    background: #404040;\n  }\n\n  .table__leg-sin_personal:before {\n    top: -55px;\n    /* Ajustado */\n    left: 13px;\n    /* Ajustado */\n    width: 3px;\n    /* Aumentado */\n    height: 33px;\n    /* Aumentado */\n    background: #404040;\n    transform: rotate(45deg);\n  }\n\n  .table__leg-sin_personal:after {\n    top: -59px;\n    /* Ajustado */\n    left: -3px;\n    /* Ajustado */\n    width: 21px;\n    /* Aumentado */\n    height: 5px;\n    /* Aumentado */\n    background: #404040;\n  }\n\n  .plant-sin_personal {\n    top: -8px;\n    /* Ajustado */\n    left: 3px;\n    /* Ajustado */\n    width: 12px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    background: #6a6a6a;\n  }\n\n  .plant-sin_personal:before {\n    top: 3px;\n    /* Ajustado */\n    left: 2px;\n    /* Ajustado */\n    width: 9px;\n    /* Aumentado */\n    height: 6px;\n    /* Aumentado */\n    background: linear-gradient(#5a5a5a 21%, #6a6a6a 22%, #6a6a6a 80%, #5a5a5a 81%);\n    border-radius: 0 0 3px 3px;\n  }\n\n  .plant-sin_personal:after {\n    top: -10px;\n    /* Ajustado */\n    left: 3px;\n    /* Ajustado */\n    width: 6px;\n    /* Aumentado */\n    height: 10px;\n    /* Aumentado */\n    background: linear-gradient(to right, #4a4a4a 50%, #5a5a5a 51%);\n    border-radius: 4px 4px 0 0;\n  }\n\n  .plant__flower-sin_personal {\n    top: -15px;\n    /* Ajustado */\n    left: 10px;\n    /* Ajustado */\n    width: 3px;\n    /* Aumentado */\n    height: 6px;\n    /* Aumentado */\n    background: #4a4a4a;\n    border-radius: 3px 3px 4px 0;\n  }\n\n  .plant__flower-sin_personal:before {\n    top: 3px;\n    /* Ajustado */\n    left: -1px;\n    /* Ajustado */\n    width: 3px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    background: #4a4a4a;\n    border-radius: 50%;\n  }\n\n  .plant__flower-sin_personal:after {\n    top: -6px;\n    /* Ajustado */\n    left: -5px;\n    /* Ajustado */\n    width: 2px;\n    /* Aumentado */\n    height: 2px;\n    /* Aumentado */\n    background: #7a7a7a;\n    border: 2px solid #8a8a8a;\n    /* Aumentado */\n    transform: rotate(45deg);\n  }\n\n  .chair-sin_personal {\n    top: 142px;\n    /* Ajustado */\n    left: 87px;\n    /* Ajustado */\n    width: 44px;\n    /* Aumentado */\n    height: 4px;\n    /* Aumentado */\n    background: #404040;\n    border-radius: 3px 3px 0 0;\n    transform: translateX(0);\n    animation: chairMovement 2s ease-in-out infinite;\n  }\n\n  .chair-sin_personal:after {\n    top: -22px;\n    /* Ajustado */\n    left: 19px;\n    /* Ajustado */\n    width: 5px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    background: #404040;\n    box-shadow: 0 3px 0 0 #555555, 0 6px 0 0 #404040, 0 9px 0 0 #555555, 0 12px 0 0 #404040, 0 15px 0 0 #555555, 0 18px 0 0 #404040, 0 21px 0 0 #555555, 0 24px 0 0 #404040, 0 26px 0 0 #555555, 1px 11px 0 0 #404040;\n  }\n\n  .chair-sin_personal:before {\n    top: -32px;\n    /* Ajustado */\n    left: 5px;\n    /* Ajustado */\n    width: 35px;\n    /* Aumentado */\n    height: 10px;\n    /* Aumentado */\n    background: linear-gradient(#8a8a8a 59%, #7a7a7a 60%);\n    border-radius: 11px;\n  }\n\n  .chair__legs-sin_personal {\n    top: 4px;\n    /* Ajustado */\n    left: 2px;\n    /* Ajustado */\n    width: 4px;\n    /* Aumentado */\n    height: 3px;\n    /* Aumentado */\n    background: #404040;\n    box-shadow: 37px 0 0 0 #404040;\n  }\n\n  .chair__legs-sin_personal:before {\n    top: -18px;\n    /* Ajustado */\n    left: 24px;\n    /* Ajustado */\n    width: 3px;\n    /* Aumentado */\n    height: 8px;\n    /* Aumentado */\n    background: #404040;\n  }\n\n  .chair__legs-sin_personal:after {\n    top: -73px;\n    /* Ajustado */\n    left: 32px;\n    /* Ajustado */\n    width: 23px;\n    /* Aumentado */\n    height: 47px;\n    /* Aumentado */\n    box-sizing: border-box;\n    border-radius: 0 4px 16px 0;\n    border-right: 4px solid #404040;\n    border-bottom: 4px solid #404040;\n  }\n\n  .chair__back-sin_personal {\n    top: -83px;\n    /* Ajustado */\n    left: 41px;\n    /* Ajustado */\n    width: 10px;\n    /* Aumentado */\n    height: 33px;\n    /* Aumentado */\n    background: #8a8a8a;\n    border-radius: 5px;\n  }\n\n  .chair__back-sin_personal:before {\n    top: 23px;\n    /* Ajustado */\n    left: 2px;\n    /* Ajustado */\n    width: 10px;\n    /* Aumentado */\n    height: 26px;\n    /* Aumentado */\n    background: #8a8a8a;\n    border-radius: 5px;\n    transform-origin: 0 0;\n    transform: rotate(17deg);\n  }\n\n  .bg-1-sin_personal {\n    top: 12px;\n    /* Ajustado */\n    left: 0px;\n    width: 195px;\n    /* Aumentado */\n    height: 37px;\n    /* Aumentado */\n    background: #6a6a6a;\n    border-radius: 0 15px 15px 0;\n  }\n\n  .bg-1-sin_personal:before {\n    top: 37px;\n    /* Ajustado */\n    left: 0px;\n    width: 230px;\n    /* Aumentado */\n    height: 37px;\n    /* Aumentado */\n    background: #6a6a6a;\n    border-radius: 0 16px 16px 0;\n  }\n\n  .bg-1-sin_personal:after {\n    top: 136px;\n    /* Ajustado */\n    left: 0px;\n    width: 268px;\n    /* Aumentado */\n    height: 5px;\n    /* Aumentado */\n    background: #404040;\n  }\n\n  .bg-2-sin_personal {\n    width: 191px;\n    /* Aumentado */\n    height: 12px;\n    /* Aumentado */\n    background: #6a6a6a;\n    border-radius: 4px 0 0 4px;\n  }\n\n  .bg-2-sin_personal:before {\n    top: 95px;\n    /* Ajustado */\n    right: 0px;\n    width: 191px;\n    /* Aumentado */\n    height: 50px;\n    /* Aumentado */\n    background: #5a5a5a;\n    border-radius: 17px 0 0 14px;\n  }\n\n  @keyframes chairMovement {\n    0% {\n      transform: translateX(0);\n    }\n\n    50% {\n      transform: translateX(-3px);\n    }\n\n    100% {\n      transform: translateX(0);\n    }\n  }\n\n  @media (max-width: 768px) {\n    .grid-container {\n      gap: 16px;\n      padding: 16px;\n    }\n\n    .celda {\n      flex: 0 1 280px;\n      min-width: 260px;\n    }\n\n    .celda-inner {\n      padding: 24px;\n      height: 400px;\n    }\n\n    .icon-container {\n      width: 150px;\n      height: 150px;\n    }\n  }\n</style>\n\n<div class=\"grid-container\">\n  <div v-for=\"celda in msg.payload\" :key=\"celda.id\" class=\"celda\" :class=\"'celda-estado-' + celda.estado\">\n    <div class=\"celda-inner\">\n      <div class=\"particles\">\n        <div v-for=\"i in 8\" :key=\"i\" class=\"particle\" :style=\"{\n          width: (Math.random() * 6 + 2) + 'px',\n          height: (Math.random() * 6 + 2) + 'px',\n          left: (Math.random() * 100) + '%',\n          top: (Math.random() * 100) + '%',\n          animationDelay: (Math.random() * 8) + 's',\n          animationDuration: (Math.random() * 4 + 6) + 's'\n        }\"></div>\n      </div>\n\n      <div class=\"celda-title\">Celda {{celda.id}}</div>\n\n      <div class=\"proceso-content\">\n        <div v-if=\"celda.estado === 'trabajando'\">\n          <div class=\"icon-container\" :class=\"'icon-' + celda.proceso\">\n            <div class=\"animation-wrapper\">\n              <!-- CORTE - Tijeras -->\n              <div v-if=\"celda.proceso === 'corte'\" class=\"scene-corte\">\n                <div class=\"fabric-wrapper-corte\">\n                  <div class=\"fabric-full-corte\"></div>\n                  <div class=\"cut-line-corte\"></div>\n                  <div class=\"fabric-half-corte left\"></div>\n                  <div class=\"fabric-half-corte right\"></div>\n                </div>\n                <div class=\"scissors-corte\">\n                  <div class=\"half-corte\">\n                    <div class=\"blade-corte\"></div>\n                    <div class=\"handle-corte\"></div>\n                  </div>\n                  <div class=\"half-corte\">\n                    <div class=\"blade-corte\"></div>\n                    <div class=\"handle-corte\"></div>\n                  </div>\n                  <div class=\"joint-corte\"></div>\n                </div>\n              </div>\n\n              <!-- COSTURA - Aguja -->\n              <div v-else-if=\"celda.proceso === 'costura'\" class=\"pane-costura\" id=\"pane2-costura\">\n                <div class=\"stitch\"></div>\n                <div id=\"stitching_group-costura\">\n                  <div class=\"sewing-machine\">\n                    <div class=\"needle\">\n                      <div class=\"needle-left-half\"></div>\n                      <div class=\"needle-right-half\"></div>\n                    </div>\n                    <div class=\"top-thread\"></div>\n                  </div>\n                  <div class=\"bottom-cloth-costura\"></div>\n                </div>\n                <div class=\"machine-top\"></div>\n              </div>\n\n              <!-- INSPECCIÓN - Lupa -->\n              <div v-else-if=\"celda.proceso === 'inspeccion'\" class=\"container-inspeccion\">\n                <div class=\"fabric-image-inspeccion\"></div>\n                <div class=\"magnifying-glass-inspeccion\"></div>\n                <div class=\"mg-handle-inspeccion\"></div>\n              </div>\n\n              <!-- EMPAQUE - Caja -->\n              <div v-else-if=\"celda.proceso === 'empaque'\" class=\"scene-empaque\">\n                <div class=\"box-base\">\n                  <div class=\"box-inside-visual\"></div>\n                </div>\n                <div class=\"shirt\">\n                  <div class=\"shirt-sleeve-left\"></div>\n                  <div class=\"shirt-sleeve-right\"></div>\n                  <div class=\"shirt-main\">\n                    <div class=\"shirt-collar-fold\"></div>\n                    <div class=\"shirt-buttons\">\n                      <div class=\"button\"></div>\n                      <div class=\"button\"></div>\n                      <div class=\"button\"></div>\n                    </div>\n                    <div class=\"shirt-tag\"></div>\n                  </div>\n                </div>\n                <div class=\"box-lid\"></div>\n              </div>\n            </div>\n          </div>\n          <div class=\"progreso-text\">{{celda.proceso.toUpperCase()}} - {{Math.round(celda.progreso || 0)}}%</div>\n          <div class=\"proceso-progreso-container\">\n            <div class=\"proceso-progreso-value\" :style=\"{\n              width: celda.progreso + '%',\n              background: 'linear-gradient(90deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.9) 100%)'\n            }\"></div>\n          </div>\n        </div>\n        <div v-else>\n          <div class=\"icon-container\" :class=\"'icon-' + celda.estado\">\n            <div class=\"animation-wrapper\">\n              <!-- PARADA - Alerta -->\n              <div v-if=\"celda.estado === 'parada'\" class=\"aquarium-parada\">\n                <div class=\"aquarium__table-parada\"></div>\n                <div class=\"aquarium__aquarium-parada\">\n                  <div class=\"aquarium__water-parada\"></div>\n                  <div class=\"aquarium__bubble-parada\"></div>\n                  <div class=\"aquarium__bubble-parada\"></div>\n                  <div class=\"aquarium__bubble-parada\"></div>\n                  <div class=\"aquarium__bubble-parada\"></div>\n                  <div class=\"aquarium__bubble-parada\"></div>\n                  <div class=\"aquarium__bubble-parada\"></div>\n                  <div class=\"aquarium__bubble-parada\"></div>\n                  <div class=\"aquarium__bubble-parada\"></div>\n                </div>\n                <div class=\"aquarium__drops-parada\">\n                  <div class=\"aquarium__drop-parada\"></div>\n                  <div class=\"aquarium__water-column-parada\"></div>\n                  <div class=\"aquarium__splash-parada\"></div>\n                  <div class=\"aquarium__splash-parada\"></div>\n                </div>\n                <div class=\"aquarium__sponge-box-parada\">\n                  <div class=\"aquarium__body-parada\">\n                    <div class=\"aquarium__body-stripe-parada\"></div>\n                    <div class=\"aquarium__body-hole-parada\"></div>\n                  </div>\n                  <div class=\"aquarium__face-parada\">\n                    <div class=\"aquarium__mouth-parada\"></div>\n                    <div class=\"aquarium__smile-parada\"></div>\n                    <div class=\"aquarium__danger-sign-parada\">!</div>\n                  </div>\n                </div>\n                <span class=\"aquarium__stop-text-parada\">ALTO</span>\n              </div>\n\n              <!-- ESPERANDO - Pausa -->\n              <div v-else-if=\"celda.estado === 'esperando'\" class=\"sleep-scene-esperando\">\n                <div class=\"bed-esperando\">\n                  <div class=\"bed-surface-esperando\"></div>\n                  <div class=\"pillow-esperando\"></div>\n                </div>\n                <div class=\"sleeper-esperando\">\n                  <div class=\"sleeper-body-esperando\">\n                    <div class=\"folded-sheet-esperando\"></div>\n                  </div>\n                  <div class=\"sleeper-head-esperando\">\n                    <div class=\"sleeper-hair-esperando\"></div>\n                  </div>\n                  <div class=\"zzz-group-esperando\">\n                    <div class=\"zzz-esperando\">Z</div>\n                    <div class=\"zzz-esperando\">z</div>\n                    <div class=\"zzz-esperando\">z</div>\n                  </div>\n                </div>\n              </div>\n\n              <!-- SIN PERSONAL - Usuario tachado -->\n              <div v-else-if=\"celda.estado === 'sin_personal'\" class=\"scene-sin_personal\">\n                <div class=\"bg-2-sin_personal\"></div>\n                <div class=\"bg-1-sin_personal\"></div>\n                <div class=\"bookshelf-sin_personal\"></div>\n                <div class=\"photo-sin_personal\"></div>\n                <div class=\"books-1-sin_personal\"></div>\n                <div class=\"books-2-sin_personal\"></div>\n                <div class=\"books-3-sin_personal\"></div>\n                <div class=\"commode-sin_personal\">\n                  <div class=\"commode__box-sin_personal\"></div>\n                  <div class=\"printer-sin_personal\"></div>\n                </div>\n                <div class=\"chair-sin_personal\">\n                  <div class=\"chair__legs-sin_personal\"></div>\n                  <div class=\"chair__back-sin_personal\"></div>\n                </div>\n                <div class=\"table-sin_personal\">\n                  <div class=\"table__leg-sin_personal\"></div>\n                  <div class=\"plant-sin_personal\"></div>\n                  <div class=\"plant__flower-sin_personal\"></div>\n                </div>\n              </div>\n            </div>\n          </div>\n          <div class=\"estado-text\">{{celda.estado.replace('_', ' ')}}</div>\n        </div>\n      </div>\n\n      <div class=\"celda-kpis-bottom\">\n        <div><b>Prod. Turno:</b> {{celda.unid_ok_total_turno}}</div>\n        <div><b>Util (%):</b> {{celda.utilizacion.toFixed(1)}}%</div>\n        <div><b>Espera (h):</b> {{celda.tiempo_espera}}</div>\n      </div>\n    </div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 530,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "215f524c8bc62eec",
        "type": "switch",
        "z": "90a47a5490fd03e3",
        "name": "¿Hubo Desviación? (<90%)",
        "property": "payload.hubo_desviacion",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "b0fd539eaaa05124"
            ]
        ]
    },
    {
        "id": "b0fd539eaaa05124",
        "type": "change",
        "z": "90a47a5490fd03e3",
        "name": "Preparar Msg de Alerta",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.alerta_msg",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "⚠️ Alerta de Producción",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 100,
        "wires": [
            [
                "ee7f977d1beff0f7"
            ]
        ]
    },
    {
        "id": "ee7f977d1beff0f7",
        "type": "ui-notification",
        "z": "90a47a5490fd03e3",
        "ui": "9477a706cabb673d",
        "position": "top right",
        "colorDefault": false,
        "color": "#ffc107",
        "displayTime": "8",
        "showCountdown": true,
        "outputs": 0,
        "allowDismiss": true,
        "dismissText": "Entendido",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "alerta-produccion-custom",
        "name": "Alerta de Desviación",
        "x": 1000,
        "y": 160,
        "wires": []
    },
    {
        "id": "633f7a3afd8c7e4c",
        "type": "ui-chart",
        "z": "90a47a5490fd03e3",
        "group": "ab2ad95029b215cc",
        "name": "Gráfico",
        "label": "Producción vs Meta por Turno",
        "order": 1,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "Turnos",
        "xAxisProperty": "payload.x",
        "xAxisPropertyType": "msg",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Unidades Producidas",
        "yAxisProperty": "payload.y",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": "",
        "stackSeries": false,
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "10",
        "removeOlderUnit": "points",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "4",
        "className": "grafic-modern",
        "interpolation": "linear",
        "x": 740,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "42c3049216e52272",
        "type": "function",
        "z": "90a47a5490fd03e3",
        "name": "Motor de Simulación (Gemelo Digital)",
        "func": "// Motor de Simulación (Gemelo Digital) - VERSIÓN CORREGIDA\nconst PROCESOS = ['corte', 'costura', 'inspeccion', 'empaque'];\n\nlet celdas = flow.get(\"celdas\");\nlet estado_sim = flow.get(\"estado_sim\");\n\n// Inicialización si no existe\nif (!celdas) {\n    celdas = [];\n    for (let i = 1; i <= 6; i++) {\n        celdas.push({\n            id: i,\n            estado: \"parada\",\n            unid_ok_hora: 0,\n            unid_ok_total_turno: 0,\n            tiempo_ciclo: 10 + (i % 4) * 2,\n            utilizacion: 0,\n            tiempo_espera: 0,\n            horas_trabajadas: 0,\n            proceso: PROCESOS[i % PROCESOS.length] // ← Asigna proceso diferente por celda\n        });\n    }\n}\nif (!estado_sim) {\n    estado_sim = {\n        hora_turno: 0,\n        num_turno: 1,\n        horas_totales: 0,\n        real_acumulado: 0\n    };\n}\n\n// --- Parámetros del dashboard (vienen por flow.*) ---\nlet staffing = flow.get(\"staffing\");\nif (typeof staffing !== \"number\" || staffing < 0) staffing = 3;\n\nlet meta_hora_por_celda = flow.get(\"meta_hora\");\nif (typeof meta_hora_por_celda !== \"number\" || meta_hora_por_celda <= 0) meta_hora_por_celda = 5;\n\n// Avanzar simulación 1 hora\nestado_sim.hora_turno++;\nestado_sim.horas_totales++;\n\n// cálculos por hora\nlet produccion_total_hora = 0;\nif (staffing > celdas.length) staffing = celdas.length;\n\nfor (let i = 0; i < celdas.length; i++) {\n    let celda = celdas[i];\n    celda.unid_ok_hora = 0;\n\n    if (i < staffing) {\n        let r = Math.random();\n        if (r < 0.08) {\n            celda.estado = 'parada';\n            celda.progreso = 0;\n        } else if (r < 0.18) {\n            celda.estado = 'esperando';\n            celda.tiempo_espera = (celda.tiempo_espera || 0) + 1;\n        } else {\n            celda.estado = 'trabajando';\n            celda.horas_trabajadas = (celda.horas_trabajadas || 0) + 1;\n\n            // ← ROTACIÓN DE PROCESOS: Cambia el proceso cada hora\n            if (celda.estado === 'trabajando') {\n                const currentIndex = PROCESOS.indexOf(celda.proceso);\n                const nextIndex = (currentIndex + 1) % PROCESOS.length;\n                celda.proceso = PROCESOS[nextIndex];\n            }\n\n            let variationFactor = 0.7 + Math.random() * 0.6;\n            let unidades = Math.round(meta_hora_por_celda * variationFactor);\n            if (unidades < 0) unidades = 0;\n            celda.unid_ok_hora = unidades;\n            celda.unid_ok_total_turno = (celda.unid_ok_total_turno || 0) + unidades;\n            celda.progreso = ((celda.progreso || 0) + Math.round((unidades / Math.max(1, meta_hora_por_celda)) * 100)) % 100;\n        }\n    } else {\n        celda.estado = 'sin_personal';\n        celda.progreso = 0;\n    }\n\n    if (estado_sim.hora_turno > 0) {\n        celda.utilizacion = Math.min(100, ((celda.horas_trabajadas || 0) / estado_sim.hora_turno) * 100);\n    } else {\n        celda.utilizacion = 0;\n    }\n\n    produccion_total_hora += (celda.unid_ok_hora || 0);\n}\n\nestado_sim.real_acumulado = (estado_sim.real_acumulado || 0) + produccion_total_hora;\n\n// Preparar salidas\nlet msg_grid = { payload: celdas };\n\nlet meta_hora_total_staffed = meta_hora_por_celda * staffing;\nlet msg_tabla = {\n    payload: {\n        turno: estado_sim.num_turno,\n        hora: estado_sim.hora_turno,\n        personal: staffing,\n        meta_por_hora: meta_hora_total_staffed,\n        produccion_actual: produccion_total_hora,\n        meta_acumulada: meta_hora_total_staffed * estado_sim.hora_turno,\n        real_acumulado: estado_sim.real_acumulado\n    }\n};\n\nlet msg_turno_fin = null;\nif (estado_sim.hora_turno >= 8) {\n    let meta_total_turno = meta_hora_total_staffed * 8;\n    let real_total_turno = estado_sim.real_acumulado;\n    let cumplimiento = (meta_total_turno > 0) ? (real_total_turno / meta_total_turno) * 100 : 0;\n\n    msg_turno_fin = {\n        payload: {\n            turno: estado_sim.num_turno,\n            meta: meta_total_turno,\n            real: real_total_turno,\n            cumplimiento: cumplimiento,\n            alerta_msg: cumplimiento < 90 ? `ALERTA: Desviación en Turno ${estado_sim.num_turno}. Cumplimiento: ${cumplimiento.toFixed(1)}%` : `Turno ${estado_sim.num_turno} OK. Cumplimiento: ${cumplimiento.toFixed(1)}%`,\n            hubo_desviacion: cumplimiento < 90\n        }\n    };\n\n    // Reset turno - MANTENER LOS PROCESOS ACTUALES, NO RESETEAR A 'corte'\n    estado_sim.hora_turno = 0;\n    estado_sim.num_turno++;\n    estado_sim.real_acumulado = 0;\n\n    for (let celda of celdas) {\n        celda.unid_ok_total_turno = 0;\n        celda.horas_trabajadas = 0;\n        celda.tiempo_espera = 0;\n        celda.utilizacion = 0;\n        celda.progreso = 0;\n        // ← QUITAR: celda.proceso = 'corte'; (NO resetear el proceso)\n        celda.estado = 'parada';\n    }\n}\n\n// Mensaje de configuración explícita (ahora con staffing y meta)\nlet msg_staffing_config = {\n    payload: celdas.length,\n    numCeldas: celdas.length,\n    topic: \"config\",\n    staffing: staffing,\n    meta_hora: meta_hora_por_celda\n};\n\nflow.set(\"celdas\", celdas);\nflow.set(\"estado_sim\", estado_sim);\n\n// Salidas: [grid, tabla, turno_fin, staffing_config]\nreturn [msg_grid, msg_tabla, msg_turno_fin, msg_staffing_config];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Código de inicialización (opcional)\nflow.set(\"celdas\", undefined);\nflow.set(\"estado_sim\", undefined);",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 80,
        "wires": [
            [
                "6b0908094d02aefb"
            ],
            [
                "d4c0b080d9eacd1b"
            ],
            [
                "ebe1446d44bc7d30",
                "215f524c8bc62eec"
            ]
        ]
    }
]